@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  position: relative;
}

.label {
  font-size: 12px;
  line-height: 12px;
  color: #000000;
  margin-left: 24px;
  margin-bottom: 14px;
}

.input {
  padding: 16px 30px;
  background: #FFFFFF;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 1px 45px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 45px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: 1px solid transparent;
  width: 100%;
  @include medium-mobile {
    font-size: 14px;
    line-height: 14px;
  }

  &:focus {
    border-color: $secondary;
  }

  &_error {
    border-color: $error;
  }

  @include medium-mobile {
    padding: 12.5px 30px 12.5px 30px;
  }
}

.error {
  padding-top: 2px;
  color: $error;
  position: absolute;
  left: 0;
  font-size: 12px;
  line-height: 12px;
}
