@import "/styles/variables";
@import "/styles/mixins";

.wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  position: relative;
}

.label {
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  color: #414A52;
  margin-left: 20px;
}

.textArea {
  padding: 20px 30px;
  background: #FFFFFF;
  box-shadow: 0 1px 45px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: none;
  //border: 1px solid transparent;
  width: 100%;
  font-size: 15px;
  line-height: 15px;
  max-width: 100%;
  @include medium-mobile {
    padding: 17px 30px;
    font-size: 14px;
    line-height: 14px;

  }

  &:focus {
    border-color: $secondary;
  }

  &_error {
    border-color: $error;
  }

  @include medium-mobile {
    padding: 12.5px 30px 12.5px 30px;
  }
}

.error {
  color: $error;
  position: absolute;
  bottom: 10px;
  left: 0;
  font-size: 12px;
  line-height: 12px;
}
