@import "/styles/mixins";

.lightPickerContainer {
  display: flex;
  align-items: center;
  width: 320px;
  height: 60px;
  border: 1px solid #525252;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 18px 24px;
  font-size: 14px;
  line-height: 14px;
  content: '';
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='6' viewBox='0 0 8 6' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.00169 3.77054L1.00878 0.777755C0.926569 0.695348 0.81665 0.650015 0.699447 0.650015C0.582179 0.650015 0.472325 0.695348 0.389984 0.777755L0.12787 1.04C0.0453984 1.12227 3.53573e-08 1.23226 3.43509e-08 1.34946C3.33445e-08 1.46667 0.0453984 1.57652 0.12787 1.65886L3.69119 5.22224C3.77379 5.30491 3.88416 5.35018 4.0015 5.34985C4.11935 5.35018 4.22959 5.30497 4.31226 5.22224L7.87213 1.66218C7.9546 1.57984 8 1.46998 8 1.35271C8 1.23551 7.9546 1.12566 7.87213 1.04325L7.61002 0.781072C7.43941 0.61047 7.16169 0.61047 6.99115 0.781072L4.00169 3.77054Z' fill='666666'/%3e%3c/svg%3e ");
  -webkit-background-size: auto;
  background-size: 8px 8px;
  background-repeat: no-repeat;
  background-position: 89.7% 50%;

  @include small-tablet {
    margin-top: 5px;
  }
  @media screen and (max-width: 360px) {
    width: 100%;
  }
}

.registerPickerContainer {
  position: relative;

  .calendarStyle {
    position: absolute;
    right: 20px;
    left: auto;
    top: 0;
    bottom: 0;
    margin: auto;
    fill: #000000;
  }

  &_block {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #525252;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 19.5px 24px;
    font-size: 14px;
    line-height: 14px;
    //content: '';
    //background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='6' viewBox='0 0 8 6' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M4.00169 3.77054L1.00878 0.777755C0.926569 0.695348 0.81665 0.650015 0.699447 0.650015C0.582179 0.650015 0.472325 0.695348 0.389984 0.777755L0.12787 1.04C0.0453984 1.12227 3.53573e-08 1.23226 3.43509e-08 1.34946C3.33445e-08 1.46667 0.0453984 1.57652 0.12787 1.65886L3.69119 5.22224C3.77379 5.30491 3.88416 5.35018 4.0015 5.34985C4.11935 5.35018 4.22959 5.30497 4.31226 5.22224L7.87213 1.66218C7.9546 1.57984 8 1.46998 8 1.35271C8 1.23551 7.9546 1.12566 7.87213 1.04325L7.61002 0.781072C7.43941 0.61047 7.16169 0.61047 6.99115 0.781072L4.00169 3.77054Z' fill='666666'/%3e%3c/svg%3e ");
    //-webkit-background-size: auto;
    //background-size: 8px 8px;
    //background-repeat: no-repeat;
    //background-position: 89.7% 50%;
  }

  .label {
    margin-bottom: 10px;
    margin-left: 18px;
  }

  @include small-tablet {
    margin-top: 5px;
  }
  @media screen and (max-width: 360px) {
    width: 100%;
  }
}
