@import "/styles/variables";
@import "/styles/mixins";

.downloadPhoto {
  display: flex;

  .beforeImage,
  .emptyBeforeImage {
    width: 64px;
    height: 64px;
    @include large-mobile {
      width: 45px;
      height: 45px;
      margin-right: 10px;
    }
  }

  .beforeImage {
    margin-right: 15px;
  }

  .emptyBeforeImage {
    fill: #ECECEC;
  }

  .download {
    width: 100%;

    .label {
      margin-bottom: 10px;
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 1.2rem;
      color: #414A52;
    }
  }

  .icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 17px 20px;
    border: 1px dashed #006B54;
    border-radius: 4px;

    &_solution {
      align-items: center;
      justify-content: center;
      display: flex;
      font-weight: 400;
      font-size: 15px;
      line-height: 15px;

      svg {
        margin-right: 10px;
      }
    }

    .download_image {
      display: flex;
      flex-direction: column;
    }
  }

  @include large-mobile {
    //.beforeImage {
    //  height: auto;
    //}
  }
  @include small-mobile {
    .beforeImage {
      margin-right: 10px;
      width: 45px;
    }
    .download {
      padding: 0;
      border: none;
    }
  }
}

//.downloadPhoto {
//  display: flex;
//
//  .download {
//    width: 100%;
//
//    .label {
//      margin-bottom: 10px;
//    }
//
//    .inputBox {
//      align-items: center;
//      justify-content: center;
//      display: flex;
//      padding: 18px 20px;
//      border: 1px dashed #006B54;
//      border-radius: 4px;
//
//      svg {
//        margin-right: 10px;
//      }
//    }
//  }
//}
