@import "/styles/variables";
@import "/styles/mixins";

.wrapper {
  display: flex;
  position: relative;
  width: 240px;
  //height: 50px;
  height: fit-content;

  .select {
    //width: 240px;
    padding: 18px 24px;
    border: 1px solid #525252;
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.4rem;

    svg {
      width: 8px;
      height: 8px;
      margin-left: 6px;
    }

    &:after {
      background-size: cover;
      background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="100" width="100"%3E%3Cpath d="M97.625 25.3l-4.813-4.89c-1.668-1.606-3.616-2.41-5.84-2.41-2.27 0-4.194.804-5.777 2.41L50 52.087 18.806 20.412C17.223 18.805 15.298 18 13.03 18c-2.225 0-4.172.804-5.84 2.41l-4.75 4.89C.813 26.95 0 28.927 0 31.23c0 2.346.814 4.301 2.439 5.865l41.784 42.428C45.764 81.174 47.689 82 50 82c2.268 0 4.215-.826 5.84-2.476l41.784-42.428c1.584-1.608 2.376-3.563 2.376-5.865 0-2.26-.792-4.236-2.375-5.932z"/%3E%3C/svg%3E');
    }
  }

  .label {
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #000000;
    margin-left: 20px;
    margin-bottom: 10px;
    white-space: normal;
    @include large-mobile {
      margin-left: 10px;
    }
  }

  .error {
    padding-top: 2px;
    color: $error;
    position: absolute;
    left: 0;
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .input_error {
    border: 1px solid $error;
    border-radius: 4px;
  }
}
