@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.pharmaFormFirstContainer,
.pharmaFormSecondContainer {
  .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #414A52;
    padding-top: 10px;
    padding-bottom: 30px;

    &_sub {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #414A52;
    }
  }

  @include tablet-vert {
    .title {
      font-size: 1.6rem;
      line-height: 2.4rem;
      padding-top: 0;
      padding-bottom: 20px;

      &_sub {
        font-size: 1.3rem;
        line-height: 1.8rem;
      }
    }
  }
}

.pharmaFormFirstContainer {
  .fieldBlock {
    .box_1 {
      margin-left: -18px;
      display: flex;
      flex-wrap: wrap;

      .inputLabel {
        width: calc(100% / 3 - 18px);
        margin-left: 18px;

        pre {
          width: 100%;
        }

        div {
          font-weight: 400;
          font-size: 11px;
          line-height: 12px;
          color: #414A52;
          margin-bottom: 10px;
        }

        input {
          padding: 20.5px 24px;
          font-weight: 400;
          font-size: 15px;
          line-height: 15px;
          color: #707070;
        }
      }
    }

    .box_2 {
      margin-left: -18px;
      display: flex;
      flex-wrap: wrap;

      .inputLabel {
        width: calc(100% / 3 - 18px);
        margin-left: 18px;

        &:nth-child(1) {
          width: calc(100% / 2 - 18px);
        }

        &:nth-child(2) {
          width: calc(100% / 2 - 18px);
        }

        pre {
          width: 100%;
        }

        div {
          font-weight: 400;
          font-size: 11px;
          line-height: 12px;
          color: #414A52;

          input {
            font-weight: 400;
            font-size: 15px;
            line-height: 15px;
            color: #707070;
          }
        }
      }
    }

    .box_3 {
      margin-left: -18px;
      display: flex;
      flex-wrap: wrap;

      .inputLabel {
        width: calc(100% / 3 - 18px);
        margin-left: 18px;

        &:nth-child(-n+4) {
          width: calc(100% / 2 - 18px);
        }

        pre {
          width: 100%;
        }

        div {
          font-weight: 400;
          font-size: 11px;
          line-height: 12px;
          color: #414A52;

          input {
            font-weight: 400;
            font-size: 15px;
            line-height: 15px;
            color: #707070;

          }
        }
      }

      .datePicker {
        width: calc(100% / 3 - 18px);
        margin-left: 18px;

        div {
          font-weight: 400;
          font-size: 11px;
          line-height: 12px;
          color: #414A52;
        }

        input {
          font-weight: 400;
          font-size: 15px;
          line-height: 15px;
          color: #707070;
          padding: 21px 24px;
          box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
          border-radius: 4px;
          border: transparent;
        }
      }
    }

    .box_4,
    .box_4pre {
      margin-left: -18px;
      display: flex;
      flex-wrap: wrap;

      .datePicker {
        width: calc(100% / 3 - 18px);
        margin-left: 18px;
        padding-bottom: 20px;

        div {
          font-weight: 400;
          font-size: 11px;
          line-height: 12px;
          color: #414A52;
        }

        input {
          font-weight: 400;
          font-size: 15px;
          line-height: 15px;
          color: #707070;
          padding: 21px 24px;
          box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
          border-radius: 4px;
          border: transparent;
        }

        svg {
          top: 0px;
        }
      }

      .inputLabel {
        width: calc(100% / 2 - 18px);
        margin-left: 18px;

        &:nth-child(1) {
          width: calc(100%);
        }

        div {
          font-weight: 400;
          font-size: 11px;
          line-height: 12px;
          color: #414A52;

          input {
            font-weight: 400;
            font-size: 15px;
            line-height: 15px;
            color: #707070;

          }
        }
      }

      .textAreaSize {
        textarea {
          min-height: 160px;
        }
      }
    }
    .box_4pre {
      .inputLabel, .datePicker {
        width: calc(100% / 3 - 18px);
        margin-left: 18px;
      }
    }
    .box_5 {
      margin-left: -18px;
      display: flex;
      flex-wrap: wrap;
      margin-top: -5px;
      margin-bottom: 10px;

      .inputLabel {
        width: calc(100% / 2 - 18px);
        margin-left: 18px;

        div {
          font-weight: 400;
          font-size: 11px;
          line-height: 12px;
          color: #414A52;

          input {
            font-weight: 400;
            font-size: 15px;
            line-height: 15px;
            color: #707070;

          }
        }
      }

      .datePicker {
        width: calc(100% / 2 - 18px);
        margin-left: 18px;

        div {
          font-weight: 400;
          font-size: 11px;
          line-height: 12px;
          color: #414A52;
        }

        input {
          font-weight: 400;
          font-size: 15px;
          line-height: 15px;
          color: #707070;
          padding: 21px 24px;
          box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
          border-radius: 4px;
          border: transparent;
        }
      }
    }

    .box_6 {
      margin-left: -18px;
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;

      .inputLabel {
        width: calc(100% / 3 - 18px);
        margin-left: 18px;

        &:nth-child(1) {
          width: 100%;
        }

        div {
          font-weight: 400;
          font-size: 11px;
          line-height: 12px;
          color: #414A52;

          input {
            font-weight: 400;
            font-size: 15px;
            line-height: 15px;
            color: #707070;

          }
        }
      }

      .downloadSize {
        cursor: pointer;
        margin-left: 18px;
        width: calc(100% / 3 - 18px);
      }

      .datePicker {
        width: calc(100% / 3 - 18px);
        margin-left: 18px;

        div {
          font-weight: 400;
          font-size: 11px;
          line-height: 12px;
          color: #414A52;
        }

        input {
          font-weight: 400;
          font-size: 15px;
          line-height: 15px;
          color: #707070;
          padding: 21px 24px;
          box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
          border-radius: 4px;
          border: transparent;
        }
      }
    }

    .addDrug {
      font-weight: 500;
      font-size: 15px;
      line-height: 15px;
      background: #18AD89;
      box-shadow: 0px 4px 34px rgba(24, 173, 137, 0.25);
      border-radius: 6px;
      padding: 18px 24px;
      color: $sub-4;
      transition: .3s;
      margin-top: 10px;
      margin-bottom: 50px;
    }
  }

  .inputLabel {
    padding-bottom: 20px;
    //padding-top: 20px;

    pre {
      width: 100%;
      height: fit-content;
      padding-bottom: 0;

      & > div {
        & > div {
          border: transparent;
          box-shadow: 0 4px 34px rgba(0, 0, 0, 0.06);
          border-radius: 4px;

          & > div:nth-child(1) {
            padding: 20px 23px;
          }
        }
      }
    }

    input {
      padding: 21.5px 23px;
    }

    label > div {
      margin-bottom: 10px;
    }
  }

  .fieldBlock {
    .box_1,
    .box_2,
    .box_2,
    .box_3,
    .box_4 {
      .select {
        width: calc(100% / 3 - 18px);
        margin-left: 18px;
        padding-bottom: 20px;

        pre {
          width: 100%;
          height: fit-content;
          padding-bottom: 0;

          & > div {
            & > div {
              border: transparent;
              box-shadow: 0 4px 34px rgba(0, 0, 0, 0.06);
              border-radius: 4px;

              & > div:nth-child(1) {
                padding: 18px 23px;
              }
            }
          }
        }
      }
    }

    .box_4,
    .box_5 {
      .select {
        width: calc(100% / 2 - 18px);
        margin-left: 18px;

        pre {
          width: 100%;
          height: fit-content;
          padding-bottom: 0;

          & > div {
            & > div {
              border: transparent;
              box-shadow: 0 4px 34px rgba(0, 0, 0, 0.06);
              border-radius: 4px;

              & > div:nth-child(1) {
                padding: 18px 23px;
              }
            }
          }
        }
      }
    }

    .descriptionTitle {
      font-weight: 400;
      font-size: 13px;
      line-height: 18px;
      color: #414A52;
      max-width: 587px;
      margin-top: 5px;
    }
  }

  .btn {
    padding-top: 40px;

    .btnSize {
      font-weight: 500;
      background: linear-gradient(90deg, #18ad89 0%, #18AD89 100%);
      padding: 22px 24px;
      margin: 0 auto;
    }
  }

  @include tablet-vert {
    .fieldBlock {
      .box_3, .box_4pre {
        .datePicker {
          padding-bottom: 20px;

          svg {
            top: 0;
          }
        }
      }

      .box_6 {
        .downloadSize, .inputLabel, .datePicker {
          width: calc(100% / 2 - 18px);
        }

        .downloadSize, .datePicker {
          padding-bottom: 15px;
        }
      }
    }
  }
  @include small-tablet {
    .fieldBlock {
      .box_1, .box_2, .box_3, .box_4pre, .box_4, .box_5, .box_6 {
        padding-bottom: 20px;

        .inputLabel {
          width: calc(50% - 18px);
        }

        .select {
          width: calc(50% - 18px);
        }

        .datePicker {
          width: calc(50% - 18px);
        }
      }

      .box_5 {
        .datePicker {
          margin-top: 0;
        }
      }
    }
  }
  @include small-mobile {
    .fieldBlock {
      .box_1, .box_2, .box_3, .box_4pre, .box_4, .box_5, .box_6 {
        margin-left: 0;

        .inputLabel {
          width: 100%;
          margin-left: 0;
          padding-bottom: 15px;

          & div {
            margin-left: 10px;
          }

          & input {
            font-size: 1.3rem;
            padding: 21.5px 24px
          }
        }

        .select {
          width: 100%;
          margin-left: 0;
        }

        .datePicker {
          width: 100%;
          top: 0;
          margin-left: 0;
          margin-top: 0;
          padding-bottom: 15px;

          svg {
            top: 5px;
          }
        }
      }

      .box_2 {
        .inputLabel {
          &:nth-child(1) {
            width: 100%;
          }

          &:nth-child(2) {
            width: 100%;
          }
        }
      }

      .box_3 {
        .inputLabel {
          &:nth-child(-n+4) {
            width: 100%;
          }
        }
      }

      .box_4pre {
        .inputLabel {
          &:first-child {
            div {
              line-height: 1.5rem;
            }
          }
        }
      }

      .box_5 {
        margin-bottom: 5px;
        padding-bottom: 0;
      }

      .box_6 {
        margin-top: 30px;

        .downloadSize {
          margin-left: 0;
          width: 100%;
        }
      }

      .btn {
        padding-top: 30px;

        .btnSize {
          width: 100%;
        }
      }

      .addDrug {
        margin-top: 15px;
        margin-bottom: 40px;
      }
    }
  }
}

.pharmaFormSecondContainer {
  .fieldBlock {
    .box_1 {
      margin-left: -18px;
      display: flex;
      flex-wrap: wrap;

      .inputLabel {
        width: calc(100% / 3 - 18px);
        margin-left: 18px;

        pre {
          width: 100%;
        }

        div {
          font-weight: 400;
          font-size: 11px;
          line-height: 12px;
          color: #414A52;
          margin-bottom: 10px;
        }

        input {
          padding: 20.5px 24px;
          font-weight: 400;
          font-size: 15px;
          line-height: 15px;
          color: #707070;
        }
      }

      .select {
        width: calc(100% / 3 - 18px);
        margin-left: 18px;
        padding-bottom: 20px;

        pre {
          width: 100%;
          height: fit-content;
          padding-bottom: 0;

          & > div {
            & > div {
              border: transparent;
              box-shadow: 0 4px 34px rgba(0, 0, 0, 0.06);
              border-radius: 4px;

              & > div:nth-child(1) {
                padding: 18px 23px;
              }
            }
          }
        }
      }
    }

    .box_2 {
      margin-left: -18px;
      display: flex;
      flex-wrap: wrap;

      .inputLabel {
        width: calc(100% / 2 - 18px);
        margin-left: 18px;

        &:nth-child(1) {
          width: calc(100%);
        }

        div {
          font-weight: 400;
          font-size: 11px;
          line-height: 12px;
          color: #414A52;

          input {
            font-weight: 400;
            font-size: 15px;
            line-height: 15px;
            color: #707070;

          }
        }
      }

      .textAreaSize {
        textarea {
          min-height: 160px;
        }
      }
    }

    .box_3 {
      margin-left: -18px;
      display: flex;
      flex-wrap: wrap;

      .inputLabel {
        width: calc(100% / 2 - 18px);
        margin-left: 18px;

        &:nth-child(1) {
          width: calc(100%);
        }

        div {
          font-weight: 400;
          font-size: 11px;
          line-height: 12px;
          color: #414A52;

          input {
            font-weight: 400;
            font-size: 15px;
            line-height: 15px;
            color: #707070;

          }
        }
      }

      .textAreaSize {
        textarea {
          min-height: 160px;
        }
      }

      .downloadSize {
        cursor: pointer;
        margin-left: 18px;
      }
    }

    .inputLabel {
      padding-bottom: 20px;
      //padding-top: 20px;

      pre {
        width: 100%;
        height: fit-content;
        padding-bottom: 0;

        & > div {
          & > div {
            border: transparent;
            box-shadow: 0 4px 34px rgba(0, 0, 0, 0.06);
            border-radius: 4px;

            & > div:nth-child(1) {
              padding: 20px 23px;
            }
          }
        }
      }

      input {
        padding: 21.5px 23px;
      }

      label > div {
        margin-bottom: 10px;
      }
    }

    .btn {
      padding-top: 40px;

      .privacy {
        display: block;
        padding-top: 40px;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        color: #38464B;

        a {
          color: $secondary;
        }
      }

      .btnSize {
        background: linear-gradient(90deg, #18ad89 0%, #18AD89 100%);
        padding: 22px 24px;
        margin: 0 auto;
      }
    }
  }

  @include tablet-vert {
    .fieldBlock {
      .box_3 {
        .downloadSize {
          padding-bottom: 20px;
          width: calc(100% / 2 - 18px);
        }
      }
    }
  }
  @include small-tablet {
    .fieldBlock {
      .box_1, .box_2, .box_3 {
        padding-bottom: 20px;

        .inputLabel {
          width: calc(50% - 18px);
        }

        .select {
          width: calc(50% - 18px);
        }

        .datePicker {
          width: calc(50% - 18px);
        }
      }
    }
  }
  @include small-mobile {
    .fieldBlock {
      .box_1, .box_2, .box_3 {
        margin-left: 0;

        .inputLabel {
          width: 100%;
          margin-left: 0;
          padding-bottom: 15px;

          & div {
            margin-left: 10px;
          }

          & input {
            font-size: 1.3rem;
            padding: 21.5px 24px
          }
        }

        .select {
          width: 100%;
          margin-left: 0;
        }

        .datePicker {
          width: 100%;
          top: 0;
          margin-left: 0;
          margin-top: 0;
          padding-bottom: 15px;

          svg {
            top: 5px;
          }
        }
      }

      .box_2 {
        .inputLabel {
          &:nth-child(1) {
            width: 100%;
          }

          &:nth-child(2) {
            width: 100%;
          }
        }
      }

      .box_3 {
        .inputLabel {
          &:nth-child(-n+4) {
            width: 100%;
          }
        }

        .downloadSize {
          margin-left: 0;
          width: 100%;
        }
      }

      .btn {
        padding-top: 0;

        .btnSize {
          width: 100%;
        }
      }

      .addDrug {
        margin-top: 15px;
        margin-bottom: 40px;
      }
    }
  }
}
