@import "/styles/variables";
@import "/styles/mixins";

.modal {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 50px 0;
}

.bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  border-radius: 5px;
  background: #fff;
  overflow-y: auto;
  max-width: 462px;
  padding: 50px 75px;
  text-align: center;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;

  .successModalClose {
    position: absolute;
    right: 25px;
    top: 25px;
    background: none;
    border: none;
    cursor: pointer;

    svg {
      width: 10px;
      height: 10px;
      transition: .3s;

      &:hover {
        fill: $primary;
      }
    }
  }

  @include large-mobile {
    border-radius: 0;
    margin: 0;
    max-width: 100%;
    width: 100%;
    .successModalClose {
      right: 5px;
      top: 5px;
    }
  }
}
