.infoFieldContainer {
  display: flex;
  align-items: center;

  &_icon {
  }

  &_textBlock {
    display: flex;
    flex-direction: column;

    &_label {
      font-size: 1.2rem;
      line-height: 1.8rem;
      color: #828282;
      margin-bottom: 2px;
    }
  }
}
