@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.inputLabel {
  font-weight: 400;
  color: #707070;
  padding-bottom: 0;

  input {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  &.inputLabel {
    padding-top: 5px;
  }

  @include large-mobile {
    padding-bottom: 20px;
  }
}

.btnBlock {
  display: flex;
  align-items: center;
  padding-top: 30px;

  .privacy {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.8rem;
    color: #414A52;
    margin-right: 47px;
  }

  .btnSize {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5rem;
    background: #18AD89;
    box-shadow: 0px 4px 34px rgba(24, 173, 137, 0.25);
    border-radius: 6px;
    padding: 18px 24px;
    color: #FFFFFF;
    transition: .3s;
  }

  @include large-mobile {
    flex-direction: column-reverse;
    padding-top: 15px;
    .privacy {
      width: 100%;
      margin-top: 10px;
      margin-right: 0;
    }
  }
}

.select {
  width: calc(100%) !important;

  & + .select {
    margin-top: 20px;
  }

  pre {
    width: 100%;
    height: fit-content;
    padding-bottom: 0;

    & > div {
      & > div {
        border: transparent;
        box-shadow: 0 4px 34px rgba(0, 0, 0, 0.06);
        border-radius: 4px;

        & > div:nth-child(1) {
          padding: 18px 23px;
        }
      }
    }
  }
}
