@import 'variables.scss';
@import 'mixins.scss';

.accordionContainer {
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.4rem;
    color: #006B54;
    padding-bottom: 15px;
    border-bottom: 1px dashed rgba(65, 74, 82, 0.5);
    transition: .3s;
    cursor: pointer;

    svg {
      fill: #006B54;
      transition: .3s;
      transform: rotate(180deg);
    }

    &:hover {
      svg {
        fill: #414A52;
      }
    }
  }

  .moveSvg {
    svg {
      transition: .3s;
      transform: rotate(360deg);
    }
  }

  .checkBoxSize {
    & + .checkBoxSize {
      margin-top: 12px;
    }
  }

  li + li {
    margin-top: 15px;
  }
}
