@import 'variables.scss';
@import 'mixins.scss';

.advantageBlockContainer {
  padding: 42px 50px;
  display: flex;
  background: #FFFFFF;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  width: fit-content;

  .icon {
    flex-shrink: 0;
    display: flex;
  }

  .icon > span {
    margin-right: 10px !important;
  }

  .textBlock {
    display: flex;
    flex-direction: column;

    .title {
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 2.6rem;
      color: #000000;
      margin-bottom: 5px;
      @include tablet-vert {
        font-size: 1.6rem;
        line-height: 2.4rem;
        margin-bottom: 5px;
      }
    }

    .description {
      font-weight: 400;
      font-size: 1.3rem;
      line-height: 1.8rem;
      color: #818181;
    }
  }
}
