@import "variables.scss";

.btn {
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  color: #000000;
  border-radius: 6px;
  display: flex;
  padding: 12px 24px;
  box-sizing: border-box;
  //filter: drop-shadow(0px 4px 50px rgba(0, 0, 0, 0.06));
  transition: .3s;
  cursor: pointer;
  font-weight: 400;
  //border: 2px solid transparent;
  border: none;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;

}

.primary {
  color: #FFFFFF;
  font-weight: 600;
  background: $gradient;
  transition-duration: .4s;

  &:disabled {
    cursor: inherit;
  }

  svg {
    transition: .4s;
  }

  &:hover {
    background: linear-gradient(90deg,  #18AD89 0%,  #18AD89 100%);
    //background: $sub-3;
    box-shadow: 0 4px 45px rgba(0, 0, 0, 0.14);
  }
}

.secondary {
  border: 2px solid #18AD89;
  border-radius: 6px;
  font-weight: 500;
  transition-duration: .3s;
  color: $sub-3;
  background: transparent;

  &:disabled {
    background-color: rgba(148, 199, 82, 0.5);
    //box-shadow: 0px 4px 38px rgba(136, 188, 47, 0.5);
    cursor: inherit;
  }

  &:hover {
    color: $sub-4;
    background: #18AD89;
    box-shadow: 0 4px 46px rgba(0, 0, 0, 0.18);
  }
}

.text {
  background: #FCFCFC;
  color: #A0A0A0;
  transition-duration: .3s;

  svg {
    transition: .3s;
    fill: #A0A0A0;
    margin-right: 10px;
  }

  &:hover {
    //border-color: $primary;
    box-shadow: 0 1px 15px rgba(186, 63, 92, 0.3);
    //color: $primary;

    svg {
      //fill: $primary;
    }
  }

  &.outline {
    background: #fff;
    color: #525252;
    border: 1px solid #525252;

    &:hover {
      //background: $primary;
      box-shadow: 0 1px 15px rgba(255, 83, 0, 0.3);
      //border: 1px solid $primary;
      color: #fff;
    }
  }

  &:disabled {
    background: rgba(186, 63, 92, 0.5);
  }
}

.cancel {
  background: #DE3030;
  box-shadow: 0 4px 34px rgba(222, 48, 48, 0.18);
  border-radius: 4px;
  transition: .3s;
  color: #FFFFFF;

  &:hover {
    background: #CD1313;
  }
}

.primary[disabled],
.secondary[disabled] {
  cursor: default;
  pointer-events: none;
}

.none {
  background: none;
  transition: .3s;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #414A52;

  svg {
    //fill: $darkText;
    transition: .3s;
  }

  &:hover {
    color: #006B54;
    //background: $secondary;
    //background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
    //-webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
    //text-fill-color: transparent;
    //box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);

    svg {
      fill: #006B54;
    }
  }
}

.spinner {
  position: absolute;
  width: 30px;
  height: 30px;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
}
.returnBtn {
  width: 162px;
  height: 46px;
  font-size: 14px;
  line-height: 14px;

  svg {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    transition: .3s;
  }

  &:hover {
    svg {
      transform: translateX(-5px);
    }

  }
}
