@import 'variables.scss';
@import 'mixins.scss';

.catalogContainer {
  display: flex;
  flex-direction: column;

  .paginationBlockMobile {
    display: none;
  }

  .container {
    max-width: 1800px;
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    //padding: 25px 0;
    @include small-desktop-min {
      h1 {
        margin-left: 25px;
      }
    }
  }

  &-inner {
    margin-top: 40px;

    .block {
      display: flex;

      .mobileBtnNone {
        display: none;
      }

      .mobileMenuBlock {
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease-out;
        transform: translateY(-100%);
      }

      .mobileMenu {
        overflow: auto;
        position: fixed;
        padding: 0 25px;
        width: 100%;
        height: 100%;
        left: 0;
        background: #fff;
        transition: all 0.5s ease-out;

        .closeMobileSize {
          position: absolute;
        }
      }

      &_sortingMenu {
        min-width: 340px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 35px;
        background: #F9F9F9;
        border-radius: 6px;
        height: fit-content;

        .btnSize,
        .btnSizeFirst {
          svg {
            fill: #414A52;
            transition: .3s;
            margin-right: 8px;
          }

          &:hover {
            svg {
              fill: #006B54;
            }
          }

        }

        .btnSize {
          padding: 0;
          margin-top: 30px;
        }

        .btnSizeFirst {
          margin-top: 40px;
          font-size: 1.6rem;
          line-height: 1.6rem;
        }
      }

      &_catalog {
        display: flex;
        flex-direction: column;

        .catalogList {
          display: flex;
          flex-wrap: wrap;
          //margin-left: -25px;
        }
      }
    }

    @include tablet-vert {
      margin-top: 20px;
      .block {
        display: flex;
        flex-direction: column;

        &_catalog {
          width: calc(100% - 50px);
          margin: auto;

          .searchSize {
            margin-left: 0;

            input {
              width: 100%;
            }
          }
        }

        .mobileBtnNone {
          display: flex;
          margin-top: 5px;

          svg {
            margin-right: 10px;
          }
        }

        & > .active {
          padding: 20px 25px;
          z-index: 40;
          display: block;
          opacity: 1;
          visibility: visible;
          background: white;
          transform: translateY(0px);
          position: fixed;
          left: 0;
          right: 0;
          bottom: 0;
          height: 100%;
          //padding-bottom: 100px;
        }

        .mobileMenu {
          padding-bottom: 100px;

          .btnSize,
          .btnSizeFirst {
            margin-top: 10px;
            width: 250px;

            svg {
              fill: #414A52;
              transition: .3s;
              margin-right: 8px;
            }
          }

          .btnSize {
            padding: 12px 24px;
            background: #F9F9F9;
            border-radius: 4px;
          }

          .closeMobileSize {
            width: fit-content;
            right: 0;
            background: transparent;
          }

          .title {
            font-weight: 700;
            font-size: 3.5rem;
            line-height: 4rem;
            background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            margin-bottom: 30px;
            padding-top: 51px;
          }
        }
      }
      .none {
        display: none;
      }
    }
    @include medium-mobile {
      .paginationBlock {
        display: none;
      }
      .paginationBlockMobile {
        display: flex;
      }
      .mobileBtnNone {
        justify-content: flex-start;
      }
    }
    @include small-mobile {
      .block {
        .mobileMenu {
          .btnSize,
          .btnSizeFirst {
            width: 100%;
          }

          .closeMobileSize {
            width: fit-content;
          }
        }
      }
    }

  }
}

.paginationBlock {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  //margin-bottom: 70px;

  .pagination {
    display: flex;

    .active {
      .page_link {
        color: #FFFFFF;
        background: linear-gradient(90deg, #18AD89 0%, #18AD89 100%);
        transition: .3s;

        &:hover {
          background: linear-gradient(90deg, #18AD89 0%, #18AD89 100%);
        }
      }
    }

    .page_link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 54px;
      height: 54px;
      padding: 17px;
      border-radius: 50%;
      font-weight: 700;
      font-size: 2rem;
      line-height: 2rem;
      text-align: center;
      color: #BFBFBF;
      background: linear-gradient(90deg, #f9f9f9 0%, #f9f9f9 100%);
      margin-left: 10px;
      cursor: pointer;
      transition: .3s;

      &:hover {
        color: #FFFFFF;
        background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
      }
    }

    .breakDots {
      cursor: pointer;
      padding-left: 10px;
      padding-right: 10px;
      color: $sub-3;
      font-size: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
