@import 'variables.scss';
@import 'mixins.scss';

.itemSize {
  width: calc(100% / 4 - 25px);
  margin-left: 25px;
  margin-top: 25px;
  @include small-desktop-min {
    width: calc(100% / 3 - 25px);
  }
  @include small-tablet {
    width: calc(100% / 2 - 25px);
  }
  @include medium-mobile {
    margin-top: 15px;
    width: calc(100%);
    margin-left: 0;
    &:first-child {
      margin-top: 20px;
    }
  }
}
