@import 'variables.scss';
@import 'mixins.scss';


.certificatesContainer {
  display: flex;
  flex-direction: column;

  .headerBox {
    padding-top: 20px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;

    .iconHeader {
      margin-right: 30px;
      width: 90px;
      height: 90px;
      align-items: center;
      display: flex;
      justify-content: center;
      background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
      border-radius: 50%;

      svg {
        fill: #F0F7F3;
      }
    }

    .styleHeading {
      background: linear-gradient(90deg, #414a52 0%, #414a52 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      width: 40%;
    }
  }

  .container {
    max-width: 1800px;
    width: calc(100% - 50px);
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding-bottom: 80px;

    .fancyBlockCertificates {
      display: flex;
      flex-wrap: wrap;
      padding-top: 40px;
      margin-left: -74px;
      margin-top: -45px;

      .image {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% / 4 - 74px);
        position: relative;
        margin-left: 74px;
        transition: .3s;
        margin-top: 45px;

        .circle {
          position: relative;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 5;

          &:before {
            z-index: 2;
            border-radius: 50%;
            content: '';
            width: 390px;
            height: 390px;
            max-height: 0;
            overflow: hidden;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            animation: showDiv .6s forwards;
            background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
          }
          @keyframes showDiv {
            0%,
            99% {
              max-height: 0;
            }
            100% {
              max-height: 390px;
            }
          }
          .gradient {
            display: inline-block;
            position: relative;
            line-height: 0;
            z-index: 4;
            transition-duration: .3s;

            &:after {
              content: "";
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              background: transparent;
              opacity: 0;
              transition-duration: .3s;
            }
          }

          img {
            max-width: 390px;
            z-index: 10;
          }

          .box_eye {
            display: flex;
            opacity: 0;
            align-items: center;
            justify-content: center;
            position: absolute;
            transition-duration: .3s;
            z-index: 10;
            top: calc(50% - 40px);
            left: calc(50% - 40px);

            .hover {
              cursor: pointer;
              width: 64px;
              height: 64px;
              background: $sub-4;
              box-shadow: 0 4px 60px rgb(0 0 0 / 14%);
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 0.3s;

              &:after, &:before {
                content: '';
                position: absolute;
                border-radius: 50%;
                border: 1px solid #F0F7F3;
              }

              &:after {
                width: 80px;
                height: 80px;
              }

              &:before {
                width: 90px;
                height: 90px;
              }
            }

            svg {
              fill: #F0F7F3;
              width: 32px;
              height: 32px;
            }
          }
        }

        .descriptionImage {
          width: calc(100% - 20px);
          font-weight: 700;
          font-size: 1.5rem;
          line-height: 2.4rem;
          display: flex;
          align-items: center;
          color: #414A52;
          margin: 15px auto 0;
          transition-duration: .3s;
        }

        &:hover {
          .circle {
            .gradient {
              img {
                border-radius: 8px;
              }

              &:after {
                opacity: 0.8;
                background-image: linear-gradient(180deg, rgba(0, 107, 84, 0) 0%, rgba(0, 107, 84, 0.8) 100%);
                filter: drop-shadow(0px 4px 90px rgba(0, 0, 0, 0.25));
                border-radius: 8px;
                z-index: 20;
              }
            }
          }

          .descriptionImage {
            color: #006B54;
          }

          .box_eye {
            opacity: 1;
          }
        }
      }
    }
  }

  @include large-desktop {
    .container {
      .fancyBlockCertificates {
        margin-left: -54px;

        .image {
          width: calc(100% / 3 - 54px);
          margin-left: 54px;
        }
      }
    }
  }
  @include small-desktop {
    .container {
      .fancyBlockCertificates {
        margin-left: -54px;

        .image {
          .circle {
            &:before {
              width: 324px;
              height: 324px;
            }
          }

          .gradient {
            img {
              width: 100%;
              max-width: 245px;
            }
          }
        }
      }
    }
  }
  @include tablet-vert {
    .container {
      .fancyBlockCertificates {
        margin-left: -34px;

        .image {
          width: calc(100% / 2 - 34px);
          margin-left: 34px;

          .circle {
            &:before {
              width: 324px;
              height: 324px;
            }
          }

          .gradient {
            img {
              width: 100%;
              max-width: 245px;
            }
          }
        }
      }
    }
  }
  @include small-tablet {
    .headerBox {
      padding-top: 5px;

      .iconHeader {
        width: 50px;
        height: 50px;
        flex-shrink: 0;

        .imgCertificates {
          min-width: auto !important;
          width: 28px !important;
          height: 28px !important;
        }
      }

      .styleHeading {
        font-size: 2.8rem;
        line-height: 3rem;
      }
    }
  }
  @include large-mobile {
    .container {
      .fancyBlockCertificates {
        margin-left: -34px;

        .image {
          width: calc(100% - 34px);
          margin-left: 34px;

          .circle {
            &:before {
              width: 324px;
              height: 324px;
            }
          }

          .gradient {
            img {
              width: 100%;
              max-width: 245px;
            }
          }

          .descriptionImage {
            text-align: center;
          }
        }
      }
    }
    .headerBox {
      .styleHeading {
        width: 60%;
      }
    }
  }
  @include large-mobile {
    .headerBox {
      .styleHeading {
        width: 80%;
      }
    }
  }
  @include small-mobile-min {
    .headerBox {
      .styleHeading {
        font-size: 2.5rem;
        line-height: 2.7rem;
      }
    }
  }
}
