@import "variables.scss";

.box {
  display: flex;
  align-items: center;
}

///////* стили для чекбокса когда label идет после input

//CheckBox
/* для элемента input c type="checkbox" */
//.custom_checkbox {
//  //position: absolute;
//  z-index: -1;
//  opacity: 0;
//  cursor: pointer;
//  display: none;
//}
//

///* для элемента label, связанного с .custom-checkbox */
//label {
//  cursor: pointer;
//  display: inline-flex;
//  //align-items: center;
//  align-items: flex-start;
//  user-select: none;
//  font-weight: normal;
//  font-size: 14px;
//  line-height: 14px;
//}
//
///* создание в label псевдоэлемента before со следующими стилями */
//label::before {
//  content: '';
//  display: inline-block;
//  width: 15px;
//  height: 15px;
//  border: 1px solid $secondary;
//  box-sizing: border-box;
//  border-radius: 1px;
//  flex-shrink: 0;
//  flex-grow: 0;
//  margin-right: 0.5em;
//  background-repeat: no-repeat;
//  background-position: center center;
//  background-size: 50% 50%;
//}
//
///* стили при наведении курсора на checkbox */
//.custom_checkbox:not(:disabled):not(:checked) + label:hover::before {
//  border-color: #b3d7ff;
//}
//
///* стили для активного чекбокса (при нажатии на него) */
//.custom_checkbox:not(:disabled):active + label::before {
//  background-color: #b3d7ff;
//  border-color: #b3d7ff;
//}
//
///* стили для чекбокса, находящегося в фокусе */
//.custom_checkbox:focus + label::before {
//  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
//}
//
///* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
//.custom_checkbox:focus:not(:checked) + label::before {
//  border-color: #80bdff;
//}
//
///* стили для чекбокса, находящегося в состоянии checked */
//.custom_checkbox:checked + label::before {
//  border-color: $secondary;
//  //background-image: $secondary;
//  border-radius: 1px;
//  padding: 3px;
//  background: $secondary content-box;
//  //background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 492 492" style="enable-background:new 0 0 492 492" xml:space="preserve"><path d="M0 0h492v492H0V0z"/%3e%3c/svg%3e');
//}
//
///* стили для чекбокса, находящегося в состоянии disabled */
//.custom_checkbox:disabled + label::before {
//  background-color: #e9ecef;
//}

///////* стили для чекбокса когда label оборачивает input

.custom_checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom_checkbox > span {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #414A52;
  transition: .3s;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom_checkbox > span::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #414A52;
  border-radius: 2px;
  box-sizing: border-box;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  opacity: .4;
  transition: .3s;
}

/* стили при наведении курсора на checkbox */
.custom_checkbox > input:not(:disabled):not(:checked) + span:hover::before {
  opacity: 1;
}

/* стили при наведении курсора на checkbox для описания */
.custom_checkbox > input:not(:disabled):not(:checked) + span:hover {
  color: #006B54;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom_checkbox > input:not(:disabled):active + span::before {
  background-color: #006B54;
  border-color: #006B54;
  opacity: 1;
}

/* стили для чекбокса, находящегося в фокусе */
.custom_checkbox > input:focus + span::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 107, 84, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom_checkbox > input:focus:not(:checked) + span::before {
  border-color: #006B54;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom_checkbox > input:checked + span::before {
  border: 1px solid $secondary;
  box-sizing: border-box;
  border-radius: 1px;
  padding: 3px;
  background: $secondary content-box;
  opacity: 1;
  //background-color: #0b76ef;
  //background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom_checkbox > input:disabled + span::before {
  background-color: #e9ecef;
  border: 1px solid #7B7B7B;
  background: #7B7B7B content-box
}

.custom_checkbox {
  &.disabled {
    cursor: auto;
    span {
      cursor: auto;
    }
  }
}
