@import 'variables.scss';
@import 'mixins.scss';

.companyContainer {
  display: flex;
  flex-direction: column;

  .container {
    max-width: 1800px;
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    @include small-desktop {
      h1 {
        margin-left: 25px;
      }
    }

    .headerBox {
      display: flex;
      justify-content: space-between;
      position: relative;
      padding-top: 101px;
      padding-bottom: 155px;

      .left {
        width: 41%;
      }

      .left {
        .styleHeading {
          margin-top: 45px;
          margin-bottom: 30px;
        }

        p {
          font-size: 1.6rem;
          line-height: 2.6rem;
        }

        p + p {
          margin-top: 20px;
        }
      }

      .right {
        display: flex;
        position: relative;

        .mainImage {
          border-radius: 60px
        }

        .topCircle,
        .bottomCircle {
          border-radius: 50%;
          position: absolute;
        }


        .topCircle {
          width: 130px;
          box-shadow: 0 4px 60px rgba(0, 0, 0, 0.25);
          right: 63px;
          top: -61px;
        }

        .bottomCircle {
          width: 235px;
          box-shadow: 0 4px 90px rgba(0, 0, 0, 0.25);
          left: -74px;
          bottom: -96px;
        }
      }
    }
  }

  &__inner {
    .about {
      display: flex;
      align-items: center;

      .left,
      .right {
        width: 50%;
      }

      .left {
        background: #FBFBFB;
        border-radius: 0px 90px 90px 0px;
        padding: 60px 90px;

        &_title {
          font-size: 2.6rem;
          line-height: 3.6rem;
          color: #006B54;
          margin-bottom: 24px;
          font-weight: 700;
        }

        &_description {
          font-size: 1.6rem;
          line-height: 2.6rem;

          p + p {
            margin-top: 20px;
          }
        }
      }

      .right {
        padding-left: 100px;
        margin-top: 30px;
        margin-bottom: 30px;

        &.timeLineContainer {

          li {
            padding-left: 51px;
            font-weight: 700;

            &::before {
              content: url('/icons/timeLine_ico.svg');
              position: absolute;
              left: -9px;
              top: 50%;
              transform: translateY(-50%);
            }

            span {
              font-weight: 400;
            }
          }
        }

        li {
          font-size: 1.5rem;
          line-height: 2.4rem;
        }

        li + li {
          padding-top: 30px;
        }
      }

      .timeLineContainer {
        &_gradient {
          border-left: 2px solid;
          border-image: linear-gradient(0deg, #006B54, #18AD89) 1;
        }
      }
    }

    .production {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      position: relative;
      padding-top: 160px;
      padding-bottom: 75px;

      &_title {
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        font-weight: 700;
        font-size: 54rem;
        line-height: 54rem;
        color: #F7F7F7;
        z-index: -1;
        bottom: 30px;
      }

      &_subTitle {
        font-weight: 700;
        font-size: 5.5rem;
        line-height: 5.5rem;
        margin-bottom: 70px;

        span {
          background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }

      &_productionHistoryBlock {
        display: flex;
        justify-content: space-between;

        .singleProductionSize {
          width: calc(100% / 5 - 75px);
          margin-left: 75px;

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    .partnershipsContainer {
      padding-top: 65px;

      .styleHeading {
        font-size: 5.5rem;
        line-height: 5.5rem;
        padding-bottom: 40px;
      }
    }

    .anotherBlock {
      padding-top: 140px;
      padding-bottom: 140px;
      display: flex;

      .other_block {
        display: flex;
        margin-top: 25px;
        align-items: center;

        .other_functions {
          display: block;
          background: transparent;
          border: none;
          font-style: normal;
          font-size: 1.4rem;
          line-height: 1.4rem;
          color: $secondary;
          margin-right: 5px;

          @include medium-tablet {
            display: block;
          }

          &::after {
            margin-left: 5px;
            height: 8px;
            @include medium-tablet {
              height: 8px;
            }
          }
        }
      }

      &_left,
      &_right {
        width: calc(40%);

        &_title {
          font-weight: 700;
          font-size: 3rem;
          line-height: 4rem;
          background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          margin-bottom: 24px;
        }

        &_description {
          font-size: 1.5rem;
          line-height: 2.4rem;

          p + p {
            margin-top: 20px;
          }
        }
      }

      &_right {
        margin-left: auto;
      }
    }
  }

  @include large-desktop {
    .left {
      margin-left: 25px;
    }
    &__inner {
      width: calc(100% - 50px);
      margin: 0 auto;

      .left {
        margin-left: 0;
      }
    }
  }
  @include medium-desktop {
    .container {
      .headerBox {
        .left {
          width: 55%;
        }

        .right {
          width: 45%;
          margin-left: 74px;

          .mainImage {
            width: 100%;
          }
        }
      }
    }
    .production {
      &_productionHistoryBlock {
        .singleProductionSize {
          width: calc(100% / 5 - 50px);
          margin-left: 50px;
        }
      }
    }
  }
  @include medium-desktop {
    .production {
      &_productionHistoryBlock {
        .singleProductionSize {
          width: calc(100% / 5 - 30px);
          margin-left: 30px;
        }
      }
    }
  }
  @include small-desktop {
    &__inner {
      .production {
        &_title {
          font-size: 24rem;
          line-height: 44rem;
          bottom: 140px;
        }
      }
    }
    .production {
      &_productionHistoryBlock {
        .singleProductionSize {
          width: calc(100% / 2 - 11px);
          margin-left: 11px;
        }
      }
    }
  }
  @include small-desktop-min {
    .container {
      .headerBox {
        .left {
          width: 45%;
        }

        .right {
          margin-left: 74px;

          .mainImage {
            //border-radius: 0;
            //width: 100%;
          }
        }
      }
    }
  }
  @include tablet-vert {
    .container {
      .headerBox {
        flex-direction: column-reverse;
        padding-top: 60px;

        .left {
          width: calc(100% - 50px);
          margin: 0 auto;
        }

        .right {
          width: 100%;
          margin-left: 0;

          .mainImage {
            border-radius: 0;
          }
        }
      }

      .companyContainer__inner {
        width: 100%;
        border-radius: 0;

        .about {
          flex-direction: column;

          .left {
            padding: 50px 25px;
            border-radius: 0;
            width: 100%;
            height: 100%;
          }

          .right {
            width: 100%;
            margin-right: 25px;

            &.timeLineContainer {
              padding-left: 35px;
              font-size: 1.4rem;
              line-height: 2.2rem;

              li {
                padding-top: 0;
                margin-top: 20px;
                padding-left: 17px;

                &:before {
                  top: 12px;
                }

                &:first-child {
                  margin-top: 0;
                }
              }
            }
          }

          .timeLineContainer {
            &_gradient {
              padding-top: 35px;
              padding-bottom: 20px;
            }
          }
        }

        .anotherBlock {
          width: calc(100% - 50px);
          margin: 0 auto;
        }
      }
    }
    .production {
      width: calc(100% - 50px);
      margin: 0 auto;

      &_title {
        bottom: auto;
        top: -80px;
      }

      &_subTitle {
        font-size: 3.5rem;
        line-height: 4.5rem;
        margin-bottom: 25px;
      }

      &_productionHistoryBlock {
        margin-left: -11px;
        margin-top: -10px;
        flex-wrap: wrap;

        .singleProductionSize {
          margin-top: 10px;

          &:first-child {
            margin-left: 11px;
          }

          &:last-child {
            width: 100%;
          }
        }
      }
    }
  }
  @include tablet {
    .container {
      .headerBox {
        padding-bottom: 65px;
        padding-top: 20px;

        .right {
          .topCircle {
            width: 90px;
          }

          .bottomCircle {
            width: 71px;
            left: -23px;
            bottom: -30px;
          }
        }

        .left {
          .styleHeading {
            margin-top: 35px;
            line-height: 4.5rem;
            margin-left: 0;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  @include small-tablet {
    .companyContainer__inner {
      .anotherBlock {
        padding-top: 90px;
        padding-bottom: 0;
        flex-direction: column;
        width: calc(100%);
        margin: 0 auto;

        .other_block {
          margin-top: 15px;
        }

        &_left,
        &_right {
          width: 100%;

          p {
            font-size: 1.4rem;
            line-height: 2.4rem;
          }

          p + p {
            margin-top: 10px;
          }

          &_title {
            font-size: 2.6rem;
            line-height: 3.6rem;
            margin-bottom: 15px;
          }
        }

        &_right {
          &_title {
            margin-top: 40px;
          }
        }
      }
    }
  }
  @include large-mobile {
    .companyContainer__inner {
      .about {
        .left {
          &_title {
            font-size: 2rem;
            line-height: 3rem;
          }

          &_description {
            font-size: 1.4rem;
            line-height: 2.4rem;
          }
        }
      }
    }
    .container {
      .headerBox {
        padding-bottom: 50px;

        .left {
          p {
            font-size: 1.4rem;
            line-height: 2.4rem;
          }

          p + p {
            margin-top: 10px;
          }
        }
      }
    }
    .production {
      padding-top: 90px;
      padding-bottom: 35px;

      &_title {
        bottom: auto;
        top: 40px;
        font-size: 13rem;
        line-height: 13rem;
      }

      &_subTitle {
        font-size: 3.5rem;
        line-height: 4.5rem;
        margin-bottom: 24px;
      }

      &_productionHistoryBlock {
        margin-left: -11px;
        margin-top: -10px;
        flex-wrap: wrap;

        .singleProductionSize {
          margin-top: 10px;

          &:first-child {
            margin-left: 11px;
          }

          &:last-child {
            width: 100%;
          }


        }
      }
    }
    .partnershipsContainer {
      padding-top: 35px;

      .styleHeading {
        font-size: 3.5rem;
        line-height: 4.5rem;
      }
    }
  }
  @include medium-mobile {
    .production {
      padding-top: 40px;

      &_title {
        top: -20px;
      }
    }
  }
}
