@import 'variables.scss';
@import 'mixins.scss';

.contactsContainer {
  display: flex;
  flex-direction: column;

  .container {
    max-width: 1800px;
    width: calc(100%);
    display: flex;
    margin: auto;
    flex-direction: column;

    .styleHeading {
      margin-top: 25px;
      margin-bottom: 30px;
    }

    @include small-desktop {
      h1 {
        margin-left: 25px;
      }
    }
  }

  &_inner {
    padding-bottom: 104px;

    .mapContainer {
      width: calc(100%);
      margin: 0 auto;
      display: flex;
      padding-bottom: 90px;

      &_description {
        padding-top: 37px;
        width: 49%;

        .subName {
          &_title {
            font-weight: 700;
            font-size: 35px;
            line-height: 45px;
            color: #414A52;
          }

          .infoContainer {
            margin-top: 20px;
          }

          .infoLabel {
            font-size: 1.3rem;
          }

          .infoIcon {
            margin-right: 15px;

            svg {
              width: 30px;
              height: 30px;
              fill: #18AD89;
            }
          }

          .infoTitle,
          .infoTitlePhone {
            font-weight: 700;
            line-height: 24px;
          }

          .infoTitle {
            font-size: 18px;
            color: #414A52;
          }

          .infoTitlePhone {
            font-size: 20px;
            color: #006B54;
          }
        }

        .workTime,
        .details {
          display: flex;
          flex-direction: column;

          &_title {
            display: flex;
            font-weight: 700;
            font-size: 24px;
            line-height: 34px;
            color: #006B54;
            margin-top: 40px;
          }

          &_info {
            margin-top: 15px;
            font-size: 15px;
            line-height: 24px;
            color: #414A52;

            & + .details_info {
              margin-top: 4px;
            }

            & > span {
              font-weight: 700;
            }
          }
        }

        .workTime {
          .infoIcon {
            margin-right: 15px;

            svg {
              width: 34px;
              height: 34px;
              fill: #18AD89;
            }
          }

          .infoTitle,
          .infoTitlePhone {
            font-weight: 700;
            line-height: 16px;
            font-size: 16px;
            color: #414A52;
          }

          .infoLabel {
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
            margin-bottom: 5px;
          }

          .infoContainer {
            margin-top: 15px;

            & + .infoContainer {
              margin-top: 20px;
            }
          }
        }
      }

      &_map {
        width: 51%;
        border-radius: 6px;

        iframe {
          width: 100%;
          height: 100%;
          border-radius: 6px;
        }
      }
    }

    .leadershipContainer {
      width: calc(100%);

      .leadership {
        &_title {
          font-weight: 700;
          font-size: 20px;
          line-height: 26px;
          color: #006B54;
          padding-bottom: 20px;
        }

        &_inner {
          display: flex;
          margin-left: -94px;
          flex-wrap: wrap;

          .liederSingleBlock {
            min-width: 285px;
            margin-left: 94px;
            margin-bottom: 70px;

            .infoContainer {
              & + .infoContainer {
                margin-top: 15px;
              }
            }

            .infoLabelLieder {
              font-weight: 400;
              font-size: 15px;
              line-height: 18px;
              color: #006B54;
              margin-bottom: 5px;
            }

            .infoTitleLieder {
              font-weight: 700;
              font-size: 16px;
              line-height: 26px;
              color: #000000;
            }

            .infoIconDesc {
              margin-right: 10px;

              svg {
                width: 24px;
                height: 24px;
                fill: #18AD89;
              }
            }

            .infoTitlePhoneDesc {
              font-weight: 700;
              font-size: 16px;
              line-height: 16px;
              color: #414A52;
            }

            .infoLabelDesc {
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
              color: #828282;
            }
          }
        }
      }

      .otherContacts {
        display: flex;
        flex-wrap: wrap;
        margin-top: -20px;

        .contactBlock {
          width: calc(100% / 5);
          display: flex;
          flex-direction: column;
          margin-top: 20px;
        }

        .titleDepartment {
          font-weight: 700;
          font-size: 20px;
          line-height: 26px;
          color: #006B54;
          padding-bottom: 20px;
        }

        .infoIconDesc {
          margin-right: 10px;

          svg {
            width: 24px;
            height: 24px;
            fill: #18AD89;
          }
        }

        .infoTitlePhoneDesc {
          font-weight: 700;
          font-size: 16px;
          line-height: 16px;
          color: #414A52;
        }

        .infoLabelDesc {
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          color: #828282;
        }

        .infoContainer {
          & + .infoContainer {
            margin-top: 15px;
          }
        }
      }
    }

  }

  .bottomBlock {
    display: flex;
    padding: 90px 60px;
    background: #FBFBFB;

    &_left {
      font-weight: 700;
      font-size: 30px;
      line-height: 40px;
      color: #414A52;
      max-width: 587px;
    }

    &_right {
      display: flex;
      //flex-direction: column;
      margin-left: 175px;
      flex-wrap: wrap;
      margin-top: -20px;

      .infoIconBottom {
        margin-right: 15px;

        svg {
          width: 30px;
          height: 30px;
          max-height: 100%;
          fill: #18AD89;
        }
      }

      .infoTitleBottom,
      .infoTitlePhoneBottom {
        font-weight: 700;
      }

      .infoTitleBottom {
        color: #414A52;
        font-size: 1.8rem;
        line-height: 2.4rem;
      }

      .infoTitlePhoneBottom {
        color: #006B54;
        font-size: 2rem;
        line-height: 2.4rem;
      }

      .infoLabelBottom {
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 1.8rem;
        margin-bottom: 2px;
      }

      .infoContainer {
        width: 42%;
        margin-top: 20px;

        & + .infoContainer {
          margin-top: 20px;
        }
      }
    }
  }

  @include large-desktop {
    .mapContainer {
      width: calc(100% - 50px);
    }
    .leadershipContainer {
      .leadership {
        &_title {
          padding-right: 25px;
          padding-left: 25px;
        }

        .liederSingleBlock {
          .infoContainer {
            padding-right: 25px;
            padding-left: 25px;
          }
        }
      }

      .otherContacts {

        .contactBlock {
          width: calc(100% / 5);

          .titleDepartment,
          .infoContainer {
            padding-right: 25px;
            padding-left: 25px;
          }
        }
      }
    }
  }
  @include desktop {
    .bottomBlock {
      &_right {
        flex-direction: column;
        margin-left: auto;

        .infoContainer {
          width: 100%;
        }
      }
    }
  }
  @include small-desktop {
    .bottomBlock {
      &_right {
        .infoContainer {
          width: auto;
        }
      }
    }
  }
  @include tablet-vert {
    .mapContainer {
      flex-direction: column;
      padding-bottom: 60px;

      &_description {
        width: 100%;

        .subName {
          &_title {
            font-size: 3.2rem;
            line-height: 3.6rem;
          }

          .infoTitle {
            font-size: 1.3rem;
            line-height: 1.8rem;
          }

          .infoTitlePhone {
            font-size: 1.8rem;
          }

          .infoIcon {
            transform: scale(.9);
          }
        }

        .workTime {
          &_title {
            margin-left: -25px;
            font-size: 2rem;
            line-height: 3rem;

            &:before {
              content: '';
              border-bottom: 2px solid;
              position: relative;
              top: 13px;
              //left: -25px;
              width: 44px;
              height: 2px;
              background-image: linear-gradient(90deg, #006B54, #18AD89);
              margin-right: 10px;
              flex-shrink: 0;
            }
          }

          .infoContainer {
            margin-top: 10px;

            & + .infoContainer {
              margin-top: 15px;
            }
          }
        }

        .details {
          &_title {
            margin-left: -25px;
            font-size: 2rem;
            line-height: 3rem;

            &:before {
              content: '';
              border-bottom: 2px solid;
              position: relative;
              top: 13px;
              //left: -25px;
              width: 44px;
              height: 2px;
              background-image: linear-gradient(90deg, #006B54, #18AD89);
              margin-right: 10px;
              flex-shrink: 0;
            }
          }

          &_info {
            margin-top: 10px;
          }
        }
      }

      &_map {
        padding-top: 70px;
        display: flex;
        height: 400px;
      }
    }
    .leadershipContainer {
      .leadership {
        &_title {
          font-size: 2.4rem;
          line-height: 3rem;
        }
      }

      .otherContacts {
        .contactBlock {
          width: calc(100% / 4);
        }
      }
    }
    .bottomBlock {
      flex-direction: column;

      &_right {
        margin-left: 0;
        margin-top: 30px;

        .infoContainer {
          width: calc(100%);
          margin-left: 0;
        }
      }
    }
  }
  @include tablet {
    .contactsContainer {
      &_inner {
        .leadershipContainer {
          .otherContacts {
            .contactBlock {
              min-width: 270px;
              width: calc(100% / 3);
            }
          }
        }
      }
    }
    .bottomBlock {
      &_right {
        .infoContainer {
          //margin-left: 70px;
          min-width: fit-content;
        }
      }
    }
  }
  @include small-tablet {
    .leadershipContainer {
      .leadership {
        &_inner {
          margin-left: -54px;
          flex-wrap: wrap;

          .liederSingleBlock {
            width: calc(100% / 3 - 54px);
            min-width: 284px;
            margin-left: 54px;
          }
        }
      }
    }
  }

  @include large-mobile {
    .mapContainer {
      &_map {
        width: 100%;
      }

      &_description {
        padding-top: 5px;
      }
    }
    .contactsContainer {
      &_inner {
        padding-bottom: 50px;

        .leadershipContainer {
          .leadership {
            &_inner {
              margin-left: 0;
              flex-wrap: wrap;

              .liederSingleBlock {
                display: flex;
                flex-direction: column;
                position: relative;
                margin-bottom: 0;
                width: calc(100%);
                min-width: 284px;
                margin-left: 0;

                &:after {
                  content: '';
                  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                  width: 100%;
                  height: 1px;
                  left: 0;
                  position: relative;
                  margin-top: 30px;
                  margin-bottom: 30px;
                }
              }
            }
          }

          .otherContacts {
            flex-direction: column;

            .contactBlock {
              min-width: 270px;
              width: 100%;

              & + .contactBlock {
                margin-top: 0;
              }

              &:after {
                content: '';
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                width: 100%;
                height: 1px;
                left: 0;
                position: relative;
                margin-top: 30px;
                margin-bottom: 30px;
              }

              &:last-of-type:after {
                content: none;
              }
            }
          }
        }
      }
    }
    .bottomBlock {
      padding: 60px 25px;

      &_left {
        font-size: 2.4rem;
        line-height: 3rem;
      }

      &_right {
        margin-top: 10px;

        .infoContainer {
          width: 100%;

          .infoLabelBottom {
            font-size: 1.3rem;
            line-height: 1.8rem;
            margin-bottom: 2px;
          }

          .infoTitleBottom {
            font-size: 1.6rem;
            line-height: 2rem;
          }

          .infoTitlePhoneBottom {
            font-size: 1.6rem;
            line-height: 2rem;
          }
        }
      }
    }
  }
}
