@import 'variables.scss';
@import 'mixins.scss';

.errorContainer {
  display: flex;
  margin-bottom: 50px;

  .container {
    max-width: 1800px;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding: 120px 0;
    align-items: center;

    .image {
      font-weight: 700;
      font-size: 300px;
      line-height: 300px;
      background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }

    .title_404 {
      font-size: 1.8rem;
      line-height: 2.8rem;
      text-align: center;
      color: #414A52;
      margin-bottom: 50px;
    }

    .btnSize {
      padding: 22px 24px;
      width: fit-content;
    }
  }

  @include medium-tablet {
    .container {
      .image {
        font-size: 200px;
        line-height: 200px;
      }
    }
  }
  @include small-mobile {
    .container {
      padding: 30px 0;

      .image {
        font-size: 150px;
        line-height: 200px;
      }
    }
  }
}
