@import 'variables.scss';
@import 'mixins.scss';

.container {
  max-width: 1800px;
  //width: 100%;
  display: flex;
  //margin: auto;
  margin-left: 60px;
  margin-right: 60px;
  padding: 25px 0;
  @include large-mobile {
    margin-left: 25px;
    margin-right: 25px;
  }
}

.footer {
  z-index: 1;
  background: $primary;

  &--inner {
    display: flex;
    padding-top: 45px;
    width: 100%;

    &__left {
      margin-right: 60px;

      .logo {
        width: 181px;
        height: 76px;
        margin-bottom: 30px;
        @include small-tablet {
          margin-bottom: 20px;
        }
      }

      .nameCompany {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        margin-top: 30px;

        &_title {
          font-weight: 700;
          font-size: 1.6rem;
          line-height: 1.6rem;
          color: $sub-4;
          margin-bottom: 10px;
        }

        &_reserved {
          font-weight: 500;
          font-size: 1.3rem;
          line-height: 1.8rem;
          color: #b7b7b7;

          p + p {
            margin-top: 2px;
          }
        }

        @include medium-mobile {
          margin-top: 25px;
          margin-bottom: 25px;
        }
      }
    }

    @include small-tablet {
      justify-content: normal;
      flex-direction: column;
      align-items: flex-start;
      display: flex;
      margin-right: 0;
      padding: 40px 15px 0;
    }
    @include large-mobile {
      padding: 25px 0 0;
    }
  }

  &-services {
    display: flex;
    width: 100%;
    //margin-left: -67px;

    .footer-item {
      //margin-left: auto;
      width: 29%;
      padding-left: 67px;

      &:nth-child(1) {
        padding-left: 150px;
      }

      &:nth-child(2) {
        padding-left: 110px;
      }

      &:last-child {
        width: 42%;
      }

      @include medium-desktop {
        width: 33%;
      }
      @include small-desktop {
        &:nth-child(1) {
          padding-left: 50px;
        }

        &:nth-child(2) {
          padding-left: 70px;
        }
        &:last-child {
          padding-left: 0;
        }
      }
      @include small-desktop-min {
        &:nth-child(1) {
          padding-left: 0;
        }

        &:nth-child(2) {
          padding-left: 0;
        }
      }
      @include tablet-vert {
        padding-left: 37px;
        margin-bottom: 30px;
      }
      @include tablet {
        width: 100%;
        padding-left: 0;
        &:last-child {
          width: 100%;
        }
      }
      @include small-tablet {
        width: 100%;
        .btnCallback {
          display: none;
        }
      }

      .title {
        position: relative;
        font-style: normal;
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 2.4rem;
        color: $sub-3;
        padding-bottom: 20px;
        white-space: nowrap;
        @include tablet {
          font-size: 3.5rem;
        }
        @include small-tablet {
          font-weight: 500;
          padding-bottom: 14px;
          margin-bottom: 14px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .list__element__arrow {
            width: 18px;
            height: 18px;
            fill: #8C8C8C;
          }
        }
        @include medium-mobile {
          font-size: 2.4rem;
          margin-bottom: 20px;
          padding-bottom: 0;
        }
      }

      ul {
        li {
          font-style: normal;
          font-weight: normal;
          font-size: 1.5rem;
          line-height: 2.4rem;
          color: $sub-4;
          margin-bottom: 10px;
          white-space: nowrap;
          transition: .4s;
          @include tablet {
            font-size: 1.8rem;
          }
          @include medium-tablet {
            white-space: normal;
          }
          @include small-tablet {
            margin-bottom: 14px;
          }
          @include medium-mobile {
            font-size: 1.5rem;
            margin-bottom: 10px;
          }

          &:hover {
            color: $sub-3;
          }
        }
      }

      .btnCallback {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.5rem;

        svg {
          width: 24px;
          height: 24px;
          fill: #FFFFFF;
          margin-right: 10px;
        }

        @include medium-mobile {
          padding: 22.5px;
          width: 100%;
        }
      }

    }

    .services {
      .footer_ul {
        //@include tablet-vert {
        //  visibility: hidden;
        //  display: none;
        //}
        @include small-tablet {
          padding-bottom: 16px;
        }
        @include medium-mobile {
          padding-bottom: 0;
        }

        li {
          transition: .3s;
        }
      }

      .contactBox {
        display: flex;


        .contacts {
          .contactElement {
            display: flex;
            align-items: center;
            transition: .4s;
            margin-bottom: 24px;

            a {
              font-weight: 700;
              font-size: 1.8rem;
              line-height: 1.8rem;
              color: $sub-4;
              transition: .4s;
            }

            svg {
              width: 24px;
              height: 24px;
              fill: $sub-3;
              margin-right: 10px;
            }

            &:hover {
              a {
                color: $sub-3;
              }
            }

          }

          .time {
            display: flex;

            &__block {
              display: flex;
              flex-direction: column;

              .blockTitle {
                font-size: 1.3rem;
                line-height: 1.3rem;
                color: #FFFFFF;
                opacity: 0.55;
              }

              .blockDescription {
                margin-top: 5px;
                font-weight: 700;
                font-size: 1.8rem;
                line-height: 1.8rem;
                color: $sub-4;
              }
            }
          }
        }

        .contacts + .contacts {
          margin-left: 69px;
        }

        @include medium-desktop {
          flex-direction: column;
          .contacts + .contacts {
            margin-left: 0px;
          }
        }
      }

      .legalAddress {
        display: flex;
        flex-direction: column;
        padding-top: 22px;
        width: 80%;

        &_field {
          padding-top: 8px;
          font-weight: 400;
          font-size: 1.3rem;
          line-height: 1.8rem;
          color: $sub-4;

          span {
            font-weight: 700;
          }
        }

        @include medium-desktop {
          width: 100%;
        }
        @include medium-mobile {
          padding-top: 30px;
          &_field {
            padding-top: 10px;
          }
        }
      }


      .footer_ul.active {
        visibility: visible;
        display: block;
      }

      @include small-tablet {
        .legalAddress {
          padding-top: 0;
        }
        padding: 0;
      }
    }

    @include small-desktop {
      flex-wrap: wrap;
    }
    @include tablet {
      flex-direction: column;
    }
    @include small-tablet {
      flex-direction: column;
      width: 100%;
      margin: 30px 0 0 0;
    }
    @include medium-mobile {
      margin-top: 40px;
    }
  }

}

.social {
  display: flex;

  &--block {
    background: #F9F9F9;
    border-radius: 2px;
    padding: 10px;
    transition: .3s;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);

    &:hover {
      box-shadow: 0 4px 18px rgba(0, 0, 0, 0.18);
    }

    & + .social--block {
      margin-left: 5px;
    }
  }

  &--logo {
    width: 26px;
    height: 26px;
  }

  @include small-tablet {
    margin-top: 30px;
    margin-bottom: 35px;
  }
}

.social_media {
  font-size: 1.5rem;
  line-height: 1.5rem;

  color: #FFFFFF;
  @include small-tablet {
    text-align: center;
  }
  @include medium-mobile {
    text-align: left;
  }

  .title {
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #FFFFFF;
  }

  .footer_icons {
    margin-top: 12px;
    display: flex;

    .socialLink {
      width: 40px;
      height: 40px;
      margin-right: 8px;
      background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .4s;

      img, svg {
        stroke: #FFFFFF;
        fill: none;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background: linear-gradient(90deg, #F0F7F3 0%, #F0F7F3 100%);
        //background: #F0F7F3;

        path {
          stroke: $secondary;
          fill: none;
        }
      }

    }

    .footer_icon {
      width: 40px;
      height: 40px;
      background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @include small-tablet {
      justify-content: center;
      a {
        margin-right: 5px;
      }
    }
  }

}
