@import "reset";
@import 'variables.scss';
@import 'mixins.scss';

@font-face {
  font-family: 'SF UI Display';
  src: url('/fonts/SFUIDisplay-Medium.woff2') format('woff2'),
  url('/fonts/SFUIDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('/fonts/SFUIDisplay-Semibold.woff2') format('woff2'),
  url('/fonts/SFUIDisplay-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('/fonts/SFUIDisplay-Light.woff2') format('woff2'),
  url('/fonts/SFUIDisplay-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('/fonts/SFUIDisplay-Bold.woff2') format('woff2'),
  url('/fonts/SFUIDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  line-height: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'SF UI Display', sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-slider {
  width: 100%;
  background: #FFFFFF;
  display: flex;
  overflow: visible;

  .navigation_left,
  .navigation_right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    top: 87%;
    background: #F0F7F3;
    box-shadow: 0 4px 65px rgba(0, 0, 0, 0.18);
    border-radius: 50%;
    width: 47px;
    height: 47px;
    cursor: pointer;

    svg {
      fill: #0D9970
    }
  }

  .navigation_left {
    left: 616px;
    right: auto;
    transform: rotate(180deg);
    @include small-tablet {
      left: 80%;
    }
    @include medium-mobile {
      left: 70%;
    }
  }

  .navigation_right {
    left: 667px;
    right: auto;
    @include small-tablet {
      left: 90%;
    }
    @include medium-mobile {
      left: 85%;
    }
  }

  .swiper-button-disabled {
    opacity: .5;
  }
}

.partnership-slider {
  width: 100%;
  background: #FFFFFF;
  display: flex;
  overflow: visible;

  .swiper-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
  }

  .swiper-pagination {
    max-width: fit-content;
    display: flex;
    align-items: center;
    bottom: 0 !important;
    left: 50% !important;
    transform: translateX(-50%);

    .swiper-pagination-bullet {
      background: #414A52;
      opacity: 0.3;
      border-radius: 50%;
      width: 7px;
      height: 7px;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
      width: 12px;
      height: 12px;
    }
  }

  @include medium-mobile {
    .swiper-wrapper {
      justify-content: center;
    }
    .swiper-slide {
      width: 150px !important;
    }
  }
}

.production-slider {
  width: 100%;
  background: #FFFFFF;
  display: flex;
  overflow: visible !important;

  .navigation_second_left,
  .navigation_second_right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    top: 39%;
    background: #18AD89;
    box-shadow: 0 4px 65px rgba(0, 0, 0, 0.18);
    border-radius: 50%;
    width: 54px;
    height: 54px;
    cursor: pointer;

    svg {
      fill: #FFFFFF;
      //fill="#0D9970"
    }

    @include tablet-vert {
      width: 50px;
      height: 50px;
    }
  }

  .navigation_second_left {
    left: -28px;
    right: auto;
    transform: rotate(180deg);
  }

  .navigation_second_right {
    left: auto;
    right: -20px;
  }

  .swiper-button-disabled {
    opacity: .5;
  }

  @include small-mobile {
    .swiper-slide {
      width: 240px !important;
    }
  }
  @include small-mobile-min {
    .navigation_second_left {
      left: 0;
    }
    .navigation_second_right {
      right: 0;
    }
  }
}

li {
  //border:1px solid #ccc;
  //border-radius:4px;
  //margin-top: 1px;
  position: relative;
}

.hidden {
  //width:90%;
  padding: 0;
  margin: auto;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.2s linear;
}

.active {
  //padding:10px;
  margin-top: 15px;
  visibility: visible;
  height: auto;
  overflow: none;
  opacity: 1;
}

///
.breadcrumbsContainer {
  width: 100%;
  max-width: 1800px;
  margin: 10px auto 20px;

  .listClassName {
    display: flex;
    @include small-desktop-min {
      //margin-left: 25px;
    }
  }

  .noActiveBreadcrumbs {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #414A52;
    margin-right: 8px;

    &:after {
      content: "|";
      display: inline-block;
      font-size: 1.2rem;
      line-height: 1.2rem;
      color: #414A52;
      margin-left: 8px;
    }

    &:first-letter {
      text-transform: uppercase;
    }
  }

  .activeBreadcrumbs {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #006B54;
    pointer-events: none;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}

svg {
  flex-shrink: 0;
}

.categorySlider {
  width: 100%;
  background: #FFFFFF;
  display: flex;

  .navigation_third_left,
  .navigation_third_right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 15;
    top: auto;
    bottom: 90px;
    background: #18AD89;
    box-shadow: 0 4px 65px rgba(0, 0, 0, 0.18);
    border-radius: 50%;
    width: 54px;
    height: 54px;
    cursor: pointer;

    svg {
      fill: #FFFFFF;
      //fill="#0D9970"
    }
  }

  .navigation_third_left {
    left: auto;
    right: 94px;
    transform: rotate(180deg);
  }

  .navigation_third_right {
    left: auto;
    right: 30px;
  }

  .swiper-button-disabled {
    opacity: .5;
  }

  .swiper-wrapper {
    display: flex;
  }

  @include medium-tablet {
    .navigation_third_left,
    .navigation_third_right {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 5;
      top: 39%;
      background: #18AD89;
      box-shadow: 0 4px 65px rgba(0, 0, 0, 0.18);
      border-radius: 50%;
      width: 54px;
      height: 54px;
      cursor: pointer;

      svg {
        fill: #FFFFFF;
        //fill="#0D9970"
      }
    }

    .navigation_third_left {
      //left: -28px;
      right: auto;
      transform: rotate(180deg);
    }

    .navigation_third_right {
      left: auto;
      //right: -20px;
    }
    .swiper-pagination {
      display: none;
    }
  }
}

.singleNewsSlider {
  width: 100%;
  background: #FFFFFF;
  display: flex;

  .swiper-wrapper {
    display: flex;

    .swiper-slide {
      //width: 100% !important;
    }
  }

  @include large-mobile {
    .swiper-slide {
      max-width: 325px;

      &:first-child {
        margin-left: 25px;
      }
    }
  }
}

//////////Swiper PAGINATION
.swiper-pagination {
  bottom: 0;
  position: absolute;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;

  &.swiper-pagination-hidden {
    opacity: 0;
  }
}

/* Common Styles */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 115px;
  left: 0;
  width: 100%;
}

/* Bullets */
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;

  .swiper-pagination-bullet {
    transform: scale(0.33);
    position: relative;
  }

  .swiper-pagination-bullet-active {
    transform: scale(1);
  }

  .swiper-pagination-bullet-active-main {
    transform: scale(1);
  }

  .swiper-pagination-bullet-active-prev {
    transform: scale(0.66);
  }

  .swiper-pagination-bullet-active-prev-prev {
    transform: scale(0.33);
  }

  .swiper-pagination-bullet-active-next {
    transform: scale(0.66);
  }

  .swiper-pagination-bullet-active-next-next {
    transform: scale(0.33);
  }
}

.swiper-pagination-bullet {
  //width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  //height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  width: 24px;
  height: 4px;
  background: linear-gradient(90deg, #18AD89 0%, #18AD89 100%);
  opacity: 0.3;
  border-radius: 900px;
  //border-radius: 50%;
  //background: var(--swiper-pagination-bullet-inactive-color, #000);
  //opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
  @at-root button#{&} {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    appearance: none;
  }
  .swiper-pagination-clickable & {
    cursor: pointer;
  }

  &:only-child {
    display: none !important;
  }
}

.swiper-pagination-bullet-active {
  background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
  box-shadow: 0px 3px 34px rgba(0, 107, 84, 0.44);
  width: 60px;
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  //background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-vertical.swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  transform: translate3d(0px, -50%, 0);

  .swiper-pagination-bullet {
    margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
    display: block;
  }

  &.swiper-pagination-bullets-dynamic {
    top: 50%;
    transform: translateY(-50%);
    width: 8px;

    .swiper-pagination-bullet {
      display: inline-block;
      transition: 200ms transform, 200ms top;
    }
  }
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-horizontal.swiper-pagination-bullets {
  .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  }

  &.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;

    .swiper-pagination-bullet {
      transition: 200ms transform, 200ms left;
    }
  }
}

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  transition: 200ms transform, 200ms right;
}

/* Progress */
.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;

  .swiper-pagination-progressbar-fill {
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top;
  }

  .swiper-rtl & .swiper-pagination-progressbar-fill {
    transform-origin: right top;
  }

  .swiper-horizontal > &,
  &.swiper-pagination-horizontal,
  .swiper-vertical > &.swiper-pagination-progressbar-opposite,
  &.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0;
  }

  .swiper-vertical > &,
  &.swiper-pagination-vertical,
  .swiper-horizontal > &.swiper-pagination-progressbar-opposite,
  &.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
  }
}

.swiper-pagination-lock {
  display: none;
}

.breadcrumbsContainer {
  width: 100%;
  max-width: 1800px;
  margin: 10px auto 20px;

  .listClassName {
    display: flex;
  }

  .noActiveBreadcrumbs {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #414A52;
    margin-right: 8px;

    &:after {
      content: "|";
      display: inline-block;
      font-size: 1.2rem;
      line-height: 1.2rem;
      color: #414A52;
      margin-left: 8px;
    }

    &:first-letter {
      text-transform: uppercase;
    }
  }

  .activeBreadcrumbs {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: #006B54;
    pointer-events: none;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  @include medium-desktop {
    width: calc(100% - 50px);
  }
}

.modalContainerCallBack,
.modalContainerSurvey {
  display: flex;
  flex-direction: column;
  max-width: 629px;

  .titleCallBack {
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #414A52;
    margin-bottom: 40px;

    .green {
      color: $secondary;
    }
  }

  @include large-mobile {
    .titleCallBack {
      font-weight: 700;
      font-size: 25px;
      line-height: 20px;
      color: #414A52;
      margin-bottom: 20px;
    }
  }
}

.modalSize,
.modalSizeSurvey {
  text-align: inherit !important;

  button {
    svg {
      width: 45px !important;
      height: 45px !important;
    }
  }

  @include large-mobile {
    padding: 50px 35px !important;
    button {
      svg {
        width: 35px !important;
        height: 35px !important;
      }
    }
  }
}

.modalSize {
  max-width: 629px !important;
}

.modalSizeSuc {
  button {
    display: none;
  }
}

.modalSizeSurvey {
  max-width: 760px !important;

  .descriptionTitleSurvey {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #414A52;
    margin-bottom: 30px;
  }
}

.sucMsg {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  color: #414A52;

  span {
    color: $secondary;
  }
}
//когда в мобильном меню вызываем модалку callback
#__next {
  z-index: 7;
  position: relative;
}
