@import "mixins";
@import "variables";

.mainTitle {
  font-weight: 700;
  width: fit-content;
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.primary {
  font-size: 5.5rem;
  line-height: 5.5rem;
  @include tablet-vert {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

.secondary {
  text-transform: uppercase;
  font-size: 5rem;
  line-height: 6rem;
  @include tablet-vert {
    font-size: 3rem;
    line-height: 3.8rem;
  }
}

.subPrimary {
  font-size: 5.5rem;
  line-height: 5.5rem;
  @include tablet-vert {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}
