@import 'variables.scss';
@import 'mixins.scss';

.container {
  max-width: 1800px;
  width: 100%;
  display: flex;
  margin: auto;
  padding: 25px 0;
  position: relative;
  z-index: 40;

  .searchBtnBox {
    width: 52px;
    height: 52px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 50%;
    opacity: 1;
    position: relative;
    filter: drop-shadow(0px 4px 60px rgba(24, 173, 137, 0.18));

    .searchBtn {
      padding: 0;
      border-radius: 50%;
      background: linear-gradient(90deg, #18AD89 0%, #18AD89 100%);
      height: 100%;
      width: 100%;
      transition: .5s;
      filter: drop-shadow(0px 4px 60px rgba(24, 173, 137, 0.18));

      &:hover {
        opacity: 1;
        background: -webkit-linear-gradient(90deg, #006B54 0%, #18AD89 100%);
        filter: drop-shadow(0px 4px 40px rgba(24, 173, 137, 0.28));
      }
    }

    .inputSearch {
      margin-left: 0;
      margin-top: 10px;
      width: 1000px;
      opacity: 0;

      input {
        box-shadow: 0 4px 90px rgb(0 0 0 / 12%);
        border-radius: 6px;
        width: 100%;
      }
    }

    .active {
      font-weight: 700;
      font-size: 2rem;
      line-height: 2rem;
      color: rgba(0, 0, 0, 0.7);
      opacity: 1;

      div {
        margin-left: 40px;
      }

      input {
        font-weight: 700;
        font-size: 2rem;
        line-height: 2rem;
        color: rgba(0, 0, 0, 0.7);
        padding: 38px 40px 38px 70px;
      }
    }

    .inputSearch > .active {
      opacity: 1;
    }

    @include desktop {
      margin-left: 25px;
      margin-right: 25px;
    }
    @include small-desktop {
      .inputSearch {
        width: 600px;
      }
    }
    @include small-desktop-min {
      margin-left: 15px;
      margin-right: 15px;
    }
    @include tablet-vert {
      .inputSearch {
        left: -230px;
        width: 280px;
      }
    }

    @include small-mobile-min {
      margin-left: 0;
    }
  }

  .centerBlock {
    display: flex;
    align-items: center;

    .centerBlockStyle {
      display: flex;
      align-items: center;
    }
  }

  .mobMenu {
    display: none;
  }

  .mobileMenu,
  .findMenu {
    display: flex;
    overflow: auto;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    bottom: -90px;
    left: 0;
    background: #fff;
    transition: all 0.5s ease-out;
    transform: translateY(-100%);
  }

  .mobileMenuActive,
  .findMenu {
    z-index: 10;
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(-4%);

    .mobileMenuContainer {
      display: flex;
      flex-direction: column;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 2.2rem;
      margin-left: 25px;
      margin-right: 25px;
      margin-top: 30px;
      padding-bottom: 180px;

      .link {
        padding-bottom: 20px;
        padding-top: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.04);
      }

      .linkStyle {

        & > span {
          margin-right: 10px !important;
        }
      }
    }

    .bottomMenuContainer {
      margin-left: 25px;

      .btnCallback {
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 1.5rem;

        svg {
          width: 24px;
          height: 24px;
          fill: #FFFFFF;
          margin-right: 10px;
        }

        @include medium-mobile {
          padding: 22.5px;
          width: 100%;
        }
      }

      .bottleBtn {
        margin-right: 20px;
        background: #F9F9F9;
        padding: 14px 30px;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.4rem;
        color: #414A52;

        img {
          margin-right: 5px;
        }

        &:hover {
          div {
            background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
          }

          background: #FFFFFF;
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
        }

        & > span {
          margin-right: 5px !important;
        }

        @include small-desktop {
          margin-right: 0;
        }
        @include medium-mobile {
          padding: 22.5px;
          width: 100%;
        }
      }

      .bottleBtn + .btnCallback {
        margin-top: 10px;
      }
    }

    .topContainer {
      .inputSearch {
        margin-left: 0;

        input {
          width: 100%;
        }
      }
    }
  }

  @include small-desktop-min {
    padding: 25px;
  }
  @include tablet-vert {
    align-items: center;
    //justify-content: space-between;
    padding: 20px 25px;
    .mobMenu {
      margin-left: auto;
    }
  }

  &.fixedStyle {
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #fff;
  }

  @include large-mobile {
    .bottomMenuContainer {
      margin-right: 25px;
    }
    .searchBtnBox {
      margin-left: 50px;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;

  .rightBlock {
    display: flex;
    align-items: center;
    margin-left: auto;

    .bottleBtn {
      margin-right: 20px;
      background: #F9F9F9;
      padding: 14px 30px;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 1.4rem;
      color: #414A52;

      img {
        margin-right: 5px;
      }

      &:hover {
        div {
          background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }

        background: #FFFFFF;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
      }

      & > span {
        margin-right: 5px !important;
      }

      @include small-desktop {
        margin-right: 0;
      }
    }
  }

  @include medium-desktop {
    width: calc(100% - 50px);
    margin: 0 auto;
  }
  @include tablet-vert {
    .container {

      .centerBlock,
      .rightBlock {
        display: none;
      }

      .searchBtnBox {
        width: 38px;
        height: 38px;

        svg {
          transform: scale(0.8);
        }
      }

      .mobMenu {
        display: flex;
      }

      .mobileMenuActive,
      .findMenu {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        /* top: -70px; */
        padding-bottom: 100px;
        transform: translateY(70px);

        .topContainer {
          padding: 20px 25px;
          display: flex;

          .searchBtn {
            width: 52px;
            height: 52px;
            margin-right: 80px;
          }

          .languageContainer {
            display: flex;
            width: 100%;
            border-radius: 0 0 3px 3px;
            z-index: 2;
            text-transform: uppercase;
            align-items: center;
            justify-content: flex-end;

            .selectItem {
              //display: flex;
              padding: 14px;
              margin-bottom: 2px;
              font-weight: 600;
              font-size: 1.3rem;
              line-height: 1.3rem;
              flex-shrink: 0;
              text-transform: uppercase;

              span {
                margin-right: 5px !important;
                width: 16px !important;
                height: 12px !important;
              }

              & + .selectItem {
                margin-left: 5px;
              }
            }

            .active {
              background: #FFFFFF;
              box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06);
              border-radius: 6px;
            }

            .flag {
              width: 20px;
              height: 15px;
              margin-right: 8px;
              background: red;
            }
          }
        }
      }

      .mobileActive {
        display: flex;
        align-items: center;

        .topContainer {
          display: flex;

          .searchBtn {
            width: 54px;
            height: 54px;
            margin-right: 80px;
          }
        }

        .bottomMenuContainer {
          display: flex;
          flex-direction: column;
          align-items: center;

          .bottleBtn, .btnCallback {
            width: 321px;
          }
        }
      }

      .searchBtnBox {
        margin-left: auto;
      }
    }
  }
  @include large-mobile {
    width: 100%;
  }
  @include medium-mobile {
    .container {
      .mobileActive {
        align-items: inherit;
      }
    }
  }
  @include small-mobile-min {
    .container {
      .searchBtnBox {
        margin-left: auto;
      }
    }
  }
}







