.newBlock,
.recipe,
.children {
  font-size: 1.3rem;
  line-height: 1.3rem;
  border-radius: 6px;
  padding: 8px 14px;
  width: fit-content;
}

.children {
  background: #830B03;
  color: #FFFFFF;
}

.newBlock {
  background: #F5D424;
  color: #414A52;
}

.recipe {
  background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
  color: #FFFFFF;
}
