@import 'variables.scss';
@import 'mixins.scss';

.notes {
  display: flex;
  margin-bottom: 10px;

  .newBlock,
  .recipe,
  .children {
    font-size: 1.3rem;
    line-height: 1.3rem;
    border-radius: 6px;
    padding: 8px 14px;
    width: fit-content;
  }

  .children {
    background: #830B03;
    color: #FFFFFF;
  }

  .newBlock {
    background: #F5D424;
    color: #414A52;
  }

  .recipe {
    background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
    color: #FFFFFF;
  }

  &_el {
    &.notes_el {
      margin-left: 5px;
    }
  }
}

.singleItemContainer {

  .container {
    max-width: 1800px;
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
  }

  &_top {
    display: flex;

    .imageContainer {
      position: relative;
      justify-content: center;
      display: flex;
      padding: 88px;
      background: #F9F9F9;
      border-radius: 6px;
      width: 690px;
      margin-right: 68px;

      .mobileNotes {
        display: none;
      }

      @include large-mobile {
        .mobileNotes {
          display: flex;
          flex-wrap: wrap;
          position: absolute;
          top: 5px;
          left: 10px;

          .notes_el {
            margin-top: 5px;
          }
        }
      }
    }

    .descriptionContainer {
      padding-top: 30px;

      &-title {
        font-weight: 700;
        font-size: 3.5rem;
        line-height: 4.5rem;
        color: #006B54;
        margin-bottom: 10px;
      }

      &-certificate {
        font-size: 1.5rem;
        line-height: 2.4rem;
        color: #414A52;
      }

      &-secondNotes {
        display: flex;
        margin-bottom: 30px;
        margin-top: 20px;

        .code,
        .inn {
          background: #F9F9F9;
          border-radius: 6px;
          font-size: 1.5rem;
          line-height: 2.4rem;
          color: #414A52;
          padding: 8px 12px;
          margin-right: 10px;

          span {
            color: #006B54;
          }
        }

        .recipe {
          padding-left: 20px;
          display: flex;
          align-items: center;
          font-size: 1.5rem;
          line-height: 1.8rem;
          width: 191px;

          svg {
            margin-right: 10px;
            flex-shrink: 0;
          }
        }
      }

      &-thirdNotes {
        .text {
          display: flex;
          font-size: 1.4rem;
          line-height: 2.4rem;
          color: $secondary;
          margin-top: 10px;

          .dotsContainer {
            display: flex;
            align-items: flex-end;
            width: 200px;
          }

          .dots {
            margin-left: 10px;
            margin-right: 10px;
            flex-grow: 1;
            opacity: 0.18;
            border: 1px dashed #000000;
          }

          .value {
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 2.4rem;
            color: #414A52;
          }

        }

        .bottleBtn {
          margin-top: 50px;
        }
      }
    }

    @include large-mobile {
      .notes {
        display: none;
      }
    }
  }


  &_bottom {
    display: flex;
    margin-top: 10px;
    margin-bottom: 90px;

    .leftPart {
      width: calc(100% / 2 - 50px);
      margin-right: 50px;

      .size {
        button {
          margin-top: 15px;
        }
      }
    }

    .rightPart {
      width: calc(100% / 2 - 50px);
      margin-left: 50px;

      .size {
        button {
          margin-top: 15px;
        }
      }

      .modeApplication {
        margin-top: 40px;

        .title {
          font-weight: 700;
          font-size: 2.4rem;
          line-height: 3rem;
          color: #006B54;
          margin-bottom: 10px;
        }

        p {
          font-size: 1.5rem;
          line-height: 2.4rem;
          color: #414A52;
        }

        ul {
          margin: 14px 0;

          li {
            display: flex;
            font-size: 1.5rem;
            line-height: 2.4rem;
            color: #414A52;

            &:before {
              position: relative;
              top: 7px;
              content: "";
              width: 6px;
              height: 6px;
              background-color: #006B54;
              margin-right: 10px;
              border-radius: 50%;
              flex-shrink: 0;
            }
          }

          li + li {
            margin-top: 8px;
          }
        }

        .bottleBtn {
          margin-top: 30px;
        }
      }
    }
  }

  .bottomSliderBlock {

    .buttonsBlock {
      display: flex;
      margin-top: 20px;
      margin-left: -10px;
      flex-wrap: wrap;

      .filterBtn {
        font-size: 1.5rem;
        line-height: 2.4rem;
        color: #414A52;
        margin-top: 10px;
        margin-left: 10px;
      }

      .filterBtnActive {
        background: #18AD89;
        box-shadow: 0px 4px 30px rgba(24, 173, 137, 0.2);
        border-radius: 6px;
        color: $sub-4;
        transition: .3s;

        &:hover {
          color: $sub-4;
          //-webkit-background-clip: text;
          -webkit-text-fill-color: $sub-4;
          text-fill-color: $sub-4;
        }
      }

    }

    .categorySlider {
      position: relative;
      display: flex;
      max-width: 1800px;
      width: 100%;
      margin: 0 auto;

      .categorySliderIn {
        padding: 40px 25px 200px;

        .btnSlider {
          position: absolute;
          z-index: 5;
          top: auto;
          left: 40%;
          bottom: 90px;
          padding: 22px 45px;
        }
      }
    }

    .hide {
      display: block;
    }

    .headingSize {
      text-transform: uppercase;
    }

    .show {
      display: none;
    }

    @include large-mobile {
      .buttonsBlock,
      .hide {
        display: none;
      }
      .show {
        font-size: 3rem;
        line-height: 3.8rem;
        display: block;
      }

    }
  }

  @include medium-desktop {
    .container {
      width: calc(100% - 50px);
      margin: 0 auto;
    }
  }
  @include tablet-vert {
    &_top {
      flex-direction: column;

      .imageContainer {
        width: 100%;
        margin-right: 0;
      }
    }
  }

  @include small-tablet {
    &_bottom {
      flex-direction: column;

      .leftPart,
      .rightPart {
        width: 100%;
        margin: 0;
      }
    }
    .bottomSliderBlock {
      .categorySlider {
        .categorySliderIn {
          .btnSlider {
            left: 50%;
            transform: translateX(-50%);

            div {
              flex-shrink: 0;
            }
          }
        }
      }
    }

  }
  @include large-mobile {
    &_top {
      .descriptionContainer {
        padding-top: 15px;

        &-title {
          font-size: 1.8rem;
          line-height: 2.4rem;
          margin-bottom: 5px;
        }

        &-certificate {
          font-size: 1.2rem;
          line-height: 2rem;
        }

        &-secondNotes {
          margin-top: 15px;
          margin-bottom: 15px;
          flex-wrap: wrap;

          .recipe {
            margin-top: 15px;
            padding-left: 0;
            width: 100%;
          }

        }

        &-thirdNotes {
          .text {
            flex-direction: column;
            font-size: 1.3rem;
            line-height: 1.8rem;

            .value {
              margin-top: 2px;
              font-size: 1.4rem;
              line-height: 2rem;
            }

            &_mobile {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;

              .text {
                margin-top: 10px;
                width: 50%;
              }
            }

            .dotsContainer {
              width: fit-content;
            }
          }

          .dots {
            display: none;
          }

          .bottleBtn {
            margin-top: 20px;
            width: 100%;
          }
        }

      }

      .imageContainer {
        padding: 25px;
      }
    }
    &_bottom {
      margin-top: 20px;

      .leftPart,
      .rightPart {
        .size {
          button {
            margin-top: 0;
          }

          margin-top: 30px;

          .titleSize {
            font-size: 2rem;
            line-height: 2.6rem;
            margin-bottom: 10px;
          }

          .descriptionSize {
            font-size: 1.4rem;
            line-height: 2.4rem;
            margin-bottom: 15px;
          }
        }

      }

      .rightPart {

        .modeApplication {
          .title {
            font-size: 2rem;
            line-height: 2.6rem;
          }

          p, ul > li {
            font-size: 1.4rem;
          }

          .bottleBtn {
            width: 100%;
          }
        }
      }
    }
    .bottomSliderBlock {
      .categorySlider {
        .categorySliderIn {
          .btnSlider {
            width: 248px;
          }
        }
      }
    }
  }
}

.bottleBtn {
  margin-right: 20px;
  padding: 14px 30px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.4rem;

  svg {
    margin-right: 5px;
  }
}
