@import 'variables.scss';
@import 'mixins.scss';

.container {
  padding: 25px 25px 30px 25px;
  background: #FFFFFF;
  box-shadow: 0 4px 90px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  position: relative;

  .notes {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    margin-top: -5px;

    .newBlock,
    .recipe,
    .children {
      font-size: 1.3rem;
      line-height: 1.3rem;
      border-radius: 6px;
      padding: 8px 14px;
      width: fit-content;
      margin-top: 5px;
    }

    .children {
      background: #830B03;
      color: #FFFFFF;
    }

    .newBlock {
      background: #F5D424;
      color: #414A52;
    }

    .recipe {
      background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
      color: #FFFFFF;
    }

    &_el {
      &.notes_el {
        margin-left: 5px;
      }
    }
  }

  .imageBlock {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;

    img {
      width: 100%;
    }
  }

  .title {
    margin-top: 37px;
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 2.6rem;
    color: #414A52;
    margin-bottom: 5px;
    transition: .3s;

    &:hover {
      color: $secondary;
    }
  }

  .description {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #414A52;
    padding-bottom: 70px;
  }

  .btnSize {
    margin: 0 auto;
    padding: 22.5px;
    width: 100%;
    @include tablet-vert {
      padding: 18.5px;
      font-size: 1.3rem;
      line-height: 1.3rem;
    }
  }

  @include tablet-vert {
    .title {
      font-size: 1.4rem;
      line-height: 2rem;
      margin-bottom: 2px;
    }
    .description {
      font-size: 1.2rem;
      line-height: 1.8rem;
    }

  }
  @include small-mobile {
    padding: 10px 15px;
    .imageBlock {
      padding-top: 32px;
      width: 180px;
      height: 120px;

      img {
        width: auto;
      }
    }
    .title {
      margin-top: 15px;
    }
    .description {
      padding-bottom: 30px;
    }
  }
}

.itemBlockSearch {
  align-items: center;

  .imageBlock {
    padding-top: 0;
  }

  .descriptionBlock {
    margin-left: 31px;
    margin-right: 79px;
    flex: 1;

    .notes {
      position: relative;

      div {
        font-size: 1.2rem;
        line-height: 1.2rem;
      }
    }

    .title {
      margin: 10.5px 0 5px 0;
      font-size: 1.6rem;
    }

    .description {
      font-size: 1.3rem;
      line-height: 1.8rem;
      padding-bottom: 0;
    }
  }

  .btnSizeBlock {
    width: 230px;

    .btnSize {
      padding: 20.5px;
      width: 230px;
    }
  }

  a {
    flex-shrink: 0;
  }

}
