.select {
  background-color: inherit;
  cursor: pointer;
  position: relative;
  display: flex;
  font-size: 20px;
  font-weight: 400;

  .selected {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    color: #000000;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    padding: 18.5px 17.5px;
    transition: .4s;
    flex-shrink: 0;

    &:hover {
      color: black;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
    }

    .flag {
      width: 20px;
      height: 15px;
      margin-right: 8px;
    }

    & > span {
      flex-shrink: 0;
      margin-right: 8px !important;
    }
  }

  //Добавить к селекту стрелку
  //.selectArrow {
  //  height: 100%;
  //  width: 30px;
  //  //background-image: url('/icons/triangle.svg');
  //  background-position: center;
  //  background-size: 16px;
  //  background-repeat: no-repeat;
  //
  //}

  .selectContainer {
    width: 100%;
    border-radius: 0 0 3px 3px;
    background-color: white;
    position: absolute;
    top: 34px;
    z-index: 2;
    visibility: visible;

    .selectItem {
      padding: 6px 0 6px 14px;
      margin-bottom: 2px;

      & > span {
        margin-right: 8px !important;
      }

      .flag {
        width: 20px;
        height: 15px;
        margin-right: 8px;
      }

      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}




