@import 'variables.scss';
@import 'mixins.scss';

.blockLogo {
  display: flex;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
  }

  .logo:hover {
    opacity: 0.6;
  }

  .logoTitle {
    margin-left: 21px;
  }

  @include small-desktop-min {
    .logo {
      //flex-direction: column;
      align-items: start;

      &_img {
        margin-right: 21.7px;
      }

      .logoTitle {
        margin-left: 0;
      }
    }
  }
  @include tablet-vert {
    width: 210px;
    height: 32px;
    .logo {
      flex-direction: row;
      align-items: center;
      flex-shrink: 0;

      .logoTitle {
        margin-left: 21px;
      }
    }
  }
  @include large-mobile {
    .logo {
      & img {
        max-width: 92px !important;
        width: 92px !important;
        min-width: 92px !important;
        margin: 0 !important;
      }
      .logoTitle {
        flex-shrink: 0;
        margin-left: 13.5px;

        &_title {
          max-width: 73px !important;
          width: 73px !important;
          min-width: 73px !important;
          margin: 0 !important;
        }
      }
    }
  }
}


