@import 'variables.scss';
@import 'mixins.scss';

.mailingListContainer {
  width: 100%;
  height: 344px;
  display: flex;

  .imageBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    box-shadow: 0px 0px 140px rgba(0, 0, 0, 0.06);
    border-radius: 0px 90px 0px 0px;

    &__in {
      background: #FFFFFF;
      box-shadow: 0px 4px 65px rgba(0, 0, 0, 0.14);
      border-radius: 6px;
      position: absolute;
      padding: 50px 85px;
    }
  }

  .box {
    display: flex;
    width: 55%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__top {
      margin-bottom: 50px;
      font-weight: 700;
      font-size: 34px;
      line-height: 38px;
      display: flex;
      align-items: center;
      color: #414A52;

      svg {
        margin-right: 25px;
      }

      .title {
        width: 60%;

        & > span {
          background: $gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    &__bottom {
      display: flex;

      .active {

        input {
          padding: 25px 30px;
          width: 420px;


          &::placeholder {
            font-weight: 700;
            font-size: 15px;
            line-height: 16px;
            display: flex;
            align-items: center;
            color: #9F9F9F;
          }
        }
      }
    }

    .btnCallback {
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 1.6rem;
      height: fit-content;
      padding: 16px 48px;

      svg {
        fill: #FFFFFF;
        margin-right: 10px;
      }

      @include medium-mobile {
        padding: 22.5px;
        width: 100%;
      }
    }
  }

  @include small-desktop {
    .box {
      &__bottom {
        width: 100%;

        .active {
          width: 100%;

          input {
            width: 100%;
          }
        }
      }
    }
    .imageBox {
      width: 40%;

      &__in {
        padding: 30px 35px;
      }
    }
  }
  @include tablet-vert {
    .box {
      width: calc(100% - 50px);
      margin: 0 auto;
    }
    .imageBox {
      display: none;
    }
  }
  @include tablet {
    .box {
      &__top {
        font-size: 2.4rem;
        line-height: 3rem;

        svg {
          transform: scale(0.67);
          margin-right: 0;
        }
      }
    }
  }
  @include large-mobile {
    .box {
      &__top {
        margin-bottom: 30px;
        font-size: 2rem;

        .title {
          width: 100%;
        }
      }

      &__bottom {
        flex-direction: column;

        .active {
          padding-bottom: 15px;

          label > input {
            line-height: 1.6rem;
            padding: 24px 30px;
          }
        }
      }
    }
  }
}
