@import "variables.scss";
@import "mixins.scss";

.container {
  max-width: 1800px;
  width: 100%;
  display: flex;
  margin: auto;
  //padding: 25px 0;
}

.sliderBlock {
  margin-top: 10px;
  position: relative;
  background-image: url("/images/sliderBlock/sliderBack1.png");
  background-repeat: no-repeat;
  background-size: auto;
  padding-bottom: 55px;
  background-position: 0px 47px;

  .swiperMain {
    .swiper_wrapper {
      padding-bottom: 30px;
      width: 100% !important;
      height: 550px;

      .slideBlock {
        position: relative;
        height: 100%;

        .descriptionSlide {
          background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
          box-shadow: 0 4px 140px rgba(0, 0, 0, 0.22);
          border-radius: 8px;
          position: absolute;
          bottom: -30px;
          left: 90px;
          color: #FFFFFF;
          padding: 73px 73px 72px 70px;
          max-width: 650px;

          .backImage {
            width: 100%;
            height: 100%;
            position: absolute;
            -o-object-fit: fill;
            object-fit: cover;
            background-image: url("/images/sliderBlock/v4.svg");
            z-index: 20;
            background-repeat: no-repeat;
            top: 0;
            left: 0;
          }

          .title {
            font-weight: 700;
            font-size: 5rem;
            line-height: 6rem;
            display: flex;
            align-items: center;
            color: #FFFFFF;
            margin-bottom: 15px;
            margin-left: 8px;
          }

          .description {
            font-size: 1.5rem;
            line-height: 2.4rem;
            display: flex;
            align-items: center;
            color: #FFFFFF;
          }
        }
      }

      @include medium-tablet {
        padding-bottom: 0;
        height: 570px;
        .slideBlock {
          & > span {
            height: 320px !important;
          }

          .descriptionSlide {
            padding: 30px 25px;
            height: 255px;
            width: 100%;
            left: 0;
            bottom: 0;
            max-width: none;
            border-radius: 0 0 8px 8px;

            .title {
              font-size: 3rem;
              line-height: 4rem;
              margin-bottom: 5px;
              margin-left: 0;
            }

            .description {
              font-size: 1.4rem;
            }
          }
        }
      }
      @include medium-mobile {
        .slideBlock {
          object-fit: cover;
        }
      }
    }
  }

  .swiperSecond {
    .swiper_wrapper {
      padding-bottom: 30px;
      width: 100% !important;
      height: 520px;

      .slideBlock {
        position: relative;
        height: 100%;

        .descriptionSlide {
          background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
          box-shadow: 0 4px 140px rgba(0, 0, 0, 0.22);
          border-radius: 8px;
          position: absolute;
          bottom: -30px;
          left: 90px;
          color: #FFFFFF;
          padding: 73px 73px 72px 70px;
          max-width: 650px;

          .backImage {
            width: 100%;
            height: 100%;
            position: absolute;
            -o-object-fit: fill;
            object-fit: cover;
            background-image: url("/images/sliderBlock/v4.svg");
            z-index: 20;
            background-repeat: no-repeat;
            top: 0;
            left: 0;
          }

          .title {
            font-weight: 700;
            font-size: 5rem;
            line-height: 6rem;
            display: flex;
            align-items: center;
            color: #FFFFFF;
            margin-bottom: 15px;
            margin-left: 8px;
          }

          .description {
            font-size: 1.5rem;
            line-height: 2.4rem;
            display: flex;
            align-items: center;
            color: #FFFFFF;
          }
        }
      }
    }
  }

  .advantagesBlock {
    padding-top: 55px;

    .blockSize {
      width: calc(100% / 4 - 20px);
      margin-left: 20px;
      align-items: center;

      &:first-child {
        margin-left: 0;
      }
    }

    .iconSize {
      width: 50px;
      height: 50px;
      margin-right: 30px;
    }

    @include small-desktop {
      .container {
        .blockSize {
          padding: 25px 20px;
          //width: calc(100% / 2 - 20px);
        }
      }
    }
    @include tablet-vert {
      .container {
        flex-direction: column;

        .blockSize {
          width: calc(100% - 34px);
          margin: 0 auto;

          + .blockSize {
            margin-top: 15px;
          }
        }

        a {
          align-self: center;
        }
      }
      .iconSize {
        width: 34px;
        height: 34px;
        margin-right: 12px;
      }
    }
  }

  @include tablet-vert {
    padding-bottom: 50px;
  }
}

.production {
  background: #FBFBFB;
  padding: 90px 105px;
  margin-left: -27px;
  overflow: hidden;

  .productionSlider {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .btnSize {
    padding: 22px 45px;
    margin: 0 auto;
  }

  @include tablet-vert {
    padding: 40px 30px 90px 30px;
    margin-left: 0px;
    .productionSlider {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  @include large-mobile {
    padding: 40px 22px 70px;
  }
  @include small-mobile-min {
    //padding: 22px 0;
  }
}

.news {
  padding-top: 90px;
  position: relative;
  margin-bottom: -38px;

  .container {
    flex-direction: column;
  }

  .newsHeaderBlock {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 50px;

    .btnSize {
      padding: 22px 45px;
    }

    @include tablet-vert {
      .btnSize {
        display: none;
      }
      .newHide {
        display: flex;
      }
    }
  }

  .newsBody {
    height: 660px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px 20px;
    //grid-template-areas:
    //"new1 New3 new4"
    //"new2 New3 new5";

    .blockSize {
      &:nth-child(1) {
        grid-row: 1 / 3;
        grid-column: 2;
        grid-template-columns: 1fr 2fr;
      }

      justify-content: space-between;
      background-repeat: no-repeat;
    }

    .rightBlock,
    .leftBlock {
      .singleNews {
        & + .singleNews {
          margin-top: 20px;
        }
      }
    }

    @include tablet-vert {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 1fr 1fr;
      height: 100%;
    }
    @include small-tablet {
      display: flex;
      flex-wrap: wrap;
    }
    @include large-mobile {
      //grid-template-rows: 1fr;
    }
  }

  .mobileActive {
    display: none;
  }

  .newsHide {
    display: none;
  }

  @include tablet-vert {
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 0;
    .newsHide {
      display: flex;
      width: fit-content;
      align-self: center;
      padding: 22px 30px;
      margin-top: 40px;
    }
    .centerElement {
      align-self: center;
    }
  }
  @include small-tablet {
    .newsHeaderBlock {
      padding-bottom: 40px;
    }
    .newsBody {
      display: none;
    }
    .mobileActive {
      display: flex;
      height: 178px;
    }
  }
}
