@import "mixins";
@import "variables";

.menuToggle {
  display: none;

  //767px
  @include small-tablet {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 9px;
    z-index: 1;
    width: 27px;
    height: 20px;
    border: 0;
    background-color: #c8cd51;
    display: inline;
  }
}

.menuToggle::before {
  content: '';
  position: absolute;
  background-image: url('/icons/burger_icon.svg');
  width: 27px;
  height: 20px;
  right: 0;
  top: 0;
}

.menuToggle.open::before {
  content: '';
  position: absolute;
  background-image: url('/icons/close_icon.svg');
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
}

.link {
  display: flex;
  margin-right: 40px;
  min-width: fit-content;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.4rem;
  position: relative;
  z-index: 2;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div > svg {
    position: absolute;
  }

  @include small-tablet {
    margin-left: 0;
  }
  @include small-desktop-min {
    margin-right: 20px;
  }

  .linkStyle {
    display: flex;
    align-items: center;

    img {
      margin-right: 8px;
    }

    & > span {
      margin-right: 8px !important;
    }

    @include small-desktop {
      & > span {
        display: none !important;
      }
    }
  }
}

.link:hover {
  color: $secondary;
}

.link a:active {
  color: $secondary;
}

.link > a {
  &:first-letter {
    text-transform: uppercase;
  }

  padding: 16px 20px 16px 0;
  cursor: pointer;
}

.active {
  color: #ffdf46;
}
