@import 'variables.scss';
@import 'mixins.scss';

.newsContainer {
  display: flex;
  flex-direction: column;

  .container {
    max-width: 1800px;
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    //padding: 25px 0;

    .styleHeading {
      margin-top: 45px;
      margin-bottom: 45px;
    }

    .headerBox {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .styleContainerBtnGroup {
        display: flex;
        margin-top: 20px;
        margin-left: -10px;
        flex-wrap: wrap;

        .filterBtn {
          height: fit-content;
          font-size: 1.5rem;
          line-height: 2.4rem;
          color: #414A52;
          margin-top: 10px;
          margin-left: 10px;
          background: #F5F5F5;
        }

        .filterBtnActive {
          background: #18AD89;
          box-shadow: 0px 4px 30px rgba(24, 173, 137, 0.2);
          border-radius: 6px;
          color: $sub-4;
          transition: .3s;

          &:hover {
            color: $sub-4;
            //-webkit-background-clip: text;
            -webkit-text-fill-color: $sub-4;
            text-fill-color: $sub-4;
          }
        }

      }
    }

    @include small-desktop {
      h1 {
        margin-left: 25px;
      }
    }

    @include tablet-vert {
      .headerBox {
        flex-direction: column;
      }
    }
  }

  &__inner {
    padding-bottom: 80px;

    .top_gallery_news {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 20px 20px;

      .blockSize {
        min-height: 320px;
        cursor: pointer;
        justify-content: space-between;
        background-repeat: no-repeat;

        &:nth-child(1) {
          grid-row: 1 / 3;
          grid-column: 1;
          grid-template-columns: 1fr 2fr;
        }

        &:hover {
          transform: scale(1.02);
        }
      }

      .rightBlock,
      .leftBlock {
        .singleNews {
          & + .singleNews {
            margin-top: 20px;
          }
        }
      }

      @include tablet-vert {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
      }

      @include large-mobile {
        grid-template-rows: 1fr;
      }
    }
  }

  .paginationBlockMobile {
    display: none;
  }

  .paginationBlock {
    display: flex;
    justify-content: center;
    margin-top: 60px;

    .pagination {
      display: flex;

      .active {
        .page_link {
          color: #FFFFFF;
          background: linear-gradient(90deg, #18AD89 0%, #18AD89 100%);
          transition: .3s;

          &:hover {
            background: linear-gradient(90deg, #18AD89 0%, #18AD89 100%);
          }
        }
      }

      .page_link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 54px;
        height: 54px;
        padding: 17px;
        border-radius: 50%;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2rem;
        text-align: center;
        color: #BFBFBF;
        background: linear-gradient(90deg, #f9f9f9 0%, #f9f9f9 100%);
        margin-left: 10px;
        cursor: pointer;
        transition: .3s;

        &:hover {
          color: #FFFFFF;
          background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
        }
      }

      .breakDots {
        cursor: pointer;
        padding-left: 10px;
        padding-right: 10px;
        color: $sub-3;
        font-size: 4.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  @include tablet-vert {
    .container {
      .styleHeading {
        margin-bottom: 15px;
        margin-top: 15px;
      }

      .headerBox {
        .styleContainerBtnGroup {
          margin-bottom: 35px;
          margin-top: 0;
        }
      }
    }
  }
  @include small-tablet {
    .top_gallery_news {
      width: calc(100% - 50px);
      margin: 0 auto;
    }
  }
  @include medium-mobile {
    .container {
      .headerBox {
        .styleContainerBtnGroup {
          flex-wrap: nowrap;
          width: calc(100% - 25px);
          overflow: auto;
          margin-left: 25px;
          /*Убрать полосу прокрутки у элемента*/
          &::-webkit-scrollbar {
            width: 0;
            height: 0;
          }

          /*Убрать полосу прокрутки для всей страницы*/
          &::-webkit-scrollbar {
            width: 0;
            height: 0;
          }

          .filterBtn {
            margin-left: 5px;

            &:first-child {
              margin-left: 0px;
            }
          }
        }
      }
    }
    .paginationBlock {
      display: none;
    }
    .paginationBlockMobile {
      display: flex;
    }
  }
  @include large-mobile {
    .container {
      .styleHeading {
        width: calc(100% - 65px);
        margin: -5px 35px 0 25px;
      }
    }
    .top_gallery_news {
      .blockSize {
        min-height: 178px;
      }
    }
  }
}

.newsSingleContainer {
  padding-top: 10px;

  .container {
    max-width: 1800px;
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;

    &_inner {

    }

    .mainImage {
      display: flex;
      flex-direction: column;
      padding: 50px 50px 40px 50px;
      position: relative;
      background-repeat: no-repeat;
      width: 100%;
      height: 500px;
      margin-top: auto;

      .newsTop {
        .btnSize {
          font-size: 1.4rem;
          line-height: 1.4rem;
          color: #000000;

          svg {
            fill: transparent;
          }
        }
      }

      .newsBottom {
        margin-top: auto;

        &_date {
          width: fit-content;
          font-size: 1.2rem;
          line-height: 1.2rem;
          padding: 8px 14px;
          color: #FFFFFF;
          background: #38464B;
          border-radius: 4px;
        }

        &_title {
          margin-top: 5px;
          font-weight: 700;
          font-size: 4rem;
          line-height: 5rem;
          color: #FFFFFF;
          max-width: 1144px;
        }
      }
    }

    .mainBlock {
      display: flex;
      padding-top: 47px;

      &_left {
        width: 77%;

        a, p {
          font-size: 1.6rem;
          line-height: 3rem;
        }

        h2, h3, h4, h5, h6 {
          font-weight: 700;
          color: #000000;
          padding-top: 40px;
          padding-bottom: 15px;
        }

        h2 {
          font-size: 3rem;
          line-height: 4rem;
        }

        h3 {
          font-size: 2.6rem;
          line-height: 3.6rem;
        }

        h4 {
          font-size: 2.2rem;
          line-height: 3.2rem;
        }

        h5 {
          font-size: 1.8rem;
          line-height: 2.8rem;
        }

        h6 {
          font-size: 1.6rem;
          line-height: 2.8rem;
        }

        ul {
          margin: 10px 0 0 0;

          li {
            display: flex;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: #000000;

            a {
              font-weight: 700;
              color: $secondary;
            }

            &:before {
              position: relative;
              top: 7px;
              content: "";
              width: 6px;
              height: 6px;
              background-color: #006B54;
              margin-right: 10px;
              border-radius: 50%;
              flex-shrink: 0;
            }
          }

          li + li {
            margin-top: 8px;
          }
        }

        ol {
          list-style-type: decimal;
          margin: 10px 0 0 0;
          margin-left: 15px;

          li {
            display: list-item;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: #000000;

            &::marker {
              font-weight: 700;
              font-size: 1.6rem;
              line-height: 2.4rem;
              color: #006B54;
            }

            a {
              font-weight: 700;
              color: $secondary;
            }

            //&:before {
            //  position: relative;
            //  top: 7px;
            //  content: "";
            //  width: 6px;
            //  height: 6px;
            //  background-color: #006B54;
            //  margin-right: 10px;
            //  border-radius: 50%;
            //  flex-shrink: 0;
            //}
          }

          li + li {
            margin-top: 8px;
          }
        }

        a {
          font-weight: 700;
          color: $secondary;
        }

        span {
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 2.8rem;
        }

        p {

          + p {
            margin-top: 20px;
          }
        }
      }

      &_right {
        margin-left: 66px;
        max-width: 540px;

        .mobileNews {
          display: none;
        }

        .blockSize {
          cursor: pointer;
          min-height: 320px;
          margin-top: 30px;

          &:nth-child(1) {
            grid-row: 1 / 3;
            grid-column: 1;
            grid-template-columns: 1fr 2fr;
          }

          justify-content: space-between;
          background-repeat: no-repeat;
        }

        &_title {
          font-weight: 700;
          font-size: 3rem;
          line-height: 3rem;
          color: #000000;
          margin-bottom: 10px;
        }
      }


    }

    .fancyBlock {
      display: flex;
      padding-top: 40px;

      a {
        width: calc(100% / 3 - 11px);
        position: relative;
        margin-left: 11px;
        transition: .3s;

        img {
          width: 100%
        }

        &:first-child {
          margin-left: 0;
        }

        .box_eye {
          display: none;
          align-items: center;
          justify-content: center;
          position: absolute;
          transition: .3s;
          z-index: 5;
          top: calc(50% - 40px);
          left: calc(50% - 40px);

          .hover {
            cursor: pointer;
            width: 60px;
            height: 60px;
            background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
            //background: #FFFFFF;
            box-shadow: 0 4px 60px rgb(0 0 0 / 14%);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
          }

          svg {
            fill: #F0F7F3;
            width: 27px;
            height: 27px;
          }
        }

        &:hover {
          .box_eye {
            display: flex;
          }
        }

        @include medium-tablet {
          .box_eye {
            display: flex;
          }
        }
      }

    }

    .fancyBlockVideo {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 319px 672px;
      padding-top: 40px;
      gap: 20px 20px;
      padding-bottom: 70px;

      .image {
        display: grid;
        position: relative;
        margin-left: auto;
        transition: .3s;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          max-height: 320px
        }

        &:last-child {
          grid-row: 2;
          grid-column: 1/3;
        }

        .box_eye {
          display: none;
          align-items: center;
          justify-content: center;
          position: absolute;
          transition: .3s;
          z-index: 5;
          top: calc(50% - 40px);
          left: calc(50% - 40px);

          .hover {
            cursor: pointer;
            width: 60px;
            height: 60px;
            background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
            //background: #FFFFFF;
            box-shadow: 0 4px 60px rgb(0 0 0 / 14%);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
          }

          svg {
            fill: #F0F7F3;
            width: 27px;
            height: 27px;
          }
        }

        &:hover {
          .box_eye {
            display: flex;
          }
        }

        @include medium-tablet {
          .box_eye {
            display: flex;
          }
        }
      }

      .video {
        display: grid;
        position: relative;
        margin-left: auto;
        transition: .3s;
        width: 100%;
        height: 100%;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          max-height: 672px
        }

        &:last-child {
          grid-row: 2;
          grid-column: 1/3;
        }

        .box_eye {
          flex-direction: column;
          display: none;
          align-items: center;
          justify-content: center;
          position: absolute;
          transition: .3s;
          z-index: 5;
          top: calc(50% - 40px);
          left: calc(50% - 40px);

          .hover {
            cursor: pointer;
            width: 100px;
            height: 100px;
            background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
            //background: #FFFFFF;
            box-shadow: 0 4px 60px rgb(0 0 0 / 14%);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
          }

          .descr {
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: #FFFFFF;
            margin-top: 15px;
          }

          svg {
            fill: #F0F7F3;
            width: 62px;
            height: 60px;
          }
        }

        &:hover {
          .box_eye {
            display: flex;
          }
        }

        @include medium-tablet {
          .box_eye {
            display: flex;
          }
        }
      }

    }

    .imageH5 {
      width: 100%;
      padding-top: 52px;
      border-radius: 8px;
    }
  }

  @include tablet-vert {
    .container {
      .mainBlock {
        flex-direction: column;

        &_left {
          width: calc(100% - 50px);
          margin: 0 auto;
        }

        &_right {
          max-width: none;
          width: calc(100% - 25px);
          margin-left: 25px;

          .mobileNews {
            display: flex;

            .blockSize {
              min-height: 178px;
            }
          }

          .desktopNews {
            display: none;
          }
        }
      }
    }
  }
  @include medium-tablet {
    .container {
      .mainBlock {
        &_left {
          h5 {
            padding-top: 30px;
          }
        }
      }

      .fancyBlock {
        flex-direction: column;

        a {
          max-width: 325px;
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }
  @include small-tablet {
    .mainImage {
      //margin-bottom: 30px;
      width: calc(100% - 50px);
      margin: 0 auto 30px;

      .partnersTitle {
        font-size: 2rem;
        line-height: 2rem;
        left: 0;
        bottom: -30px;
        padding: 20px 30px;
      }
    }
    .container {
      .mainBlock {
        padding-top: 30px;

        &_left {

          a, p {
            font-size: 1.4rem;
            line-height: 2.4rem;
          }

          h2, h3, h4, h5, h6 {
            font-weight: 700;
            color: #000000;
            padding-top: 40px;
            padding-bottom: 15px;
          }

          h2 {
            font-size: 2.4rem;
            line-height: 3rem;
          }

          h3 {
            font-size: 2rem;
            line-height: 2.8rem;
          }

          h4 {
            font-size: 1.8rem;
            line-height: 2.6rem;
          }

          h5 {
            font-size: 1.6rem;
            line-height: 2.4rem;
          }

          h6 {
            font-size: 1.5rem;
            line-height: 2.4rem;
          }
        }

        &_right {
          width: calc(100% - 50px);
          margin: 0 auto;

          &_title {
            margin-top: 70px;
          }
        }
      }

      .fancyBlockVideo {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;

        .video, .image {
          height: 180px;

          .box_eye {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .hover {
              width: 60px;
              height: 60px;

              svg {
                width: 37px;
                height: 36px;
              }
            }

            .descr {
              font-weight: 400;
              font-size: 1.4rem;
              line-height: 1.4rem;
            }
          }
        }

        .image {
          display: none;
        }
      }
    }
  }
  @include large-mobile {
    .container {
      .mainImage {
        padding: 25px 25px 30px 25px;
        background-position: center;
        background-size: cover;

        .btnSize {
          padding: 14px 30px;
          width: 147px;
          height: 42px;
        }

        .newsBottom {
          &_title {
            margin-top: 15px;
            font-size: 2.2rem;
            line-height: 2.8rem;
          }
        }
      }

      .mainBlock {
        &_right {
          width: 100%;
          margin: 0;

          &_title {
            margin-left: 25px;
          }
        }
      }

      .imageH5 {
        padding-top: 0;
        margin-top: 30px;
      }
    }

  }
  @include small-mobile {
    .mainImage {
      .partnersTitle {
        left: -53px;
        padding: 20px 30px 20px 54px;
      }
    }
  }
}
