@import 'variables.scss';
@import 'mixins.scss';

.wrapper {
  display: flex;

  .news_block {
    margin: 0;
    z-index: 5;
    position: relative;
    padding: 30px 47px 30px 30px;
    height: auto;
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;

    .news-top {
      border-radius: 4px;
      width: fit-content;
      display: inline-block;
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1.2rem;
      text-transform: uppercase;
      color: #ffff;
      background: #38464B;
      padding: 8px 14px;

    }

    .data {
      font-style: normal;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.8rem;
      color: #FFFFFF;
      transition: .3s;
      margin-bottom: 5px;

      @include tablet-vert {
        font-size: 1.5rem;
        line-height: 2.2rem;
      }

      @include large-mobile {
        -ms-line-clamp: 2;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
    }

    .title {
      font-style: normal;
      font-size: 1.4rem;
      line-height: 2.2rem;
      color: #FFFFFF;
      transition: .3s;
    }


  }

  @include tablet-vert {
    .news_block {
      padding: 10px;
      background-size: cover;

      .news-top {
        font-size: 1.1rem;
        line-height: 1.1rem;
      }

      .title {
        display: none;
      }
    }

    @include large-mobile {
      height: 178px;
      .news_block {
        .title {
          display: none;
        }
      }
    }
  }
}
