@import 'variables.scss';
@import 'mixins.scss';

.partnersContainer {
  padding-top: 10px;

  .container {
    max-width: 1800px;
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;

    &_inner {

    }

    .mainImage {
      display: flex;
      flex-direction: column;
      padding: 50px 50px 40px 50px;
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 400px;
      margin-top: auto;
      margin-bottom: 60px;
      border-radius: 8px;

      .partnersTitle {
        position: absolute;
        background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
        border-radius: 4px;
        font-weight: 700;
        font-size: 5.5rem;
        line-height: 5.5rem;
        color: #FFFFFF;
        width: fit-content;
        padding: 30px 64px;
        left: 153px;
        bottom: -58px;
      }
    }

    .mainBlock {
      display: flex;
      padding-top: 47px;

      &_left {
        width: 77%;
        margin: 0 auto;
        max-width: 1194px;

        a, p {
          font-size: 1.6rem;
          line-height: 3rem;
        }

        h2, h3, h4, h5, h6 {
          font-weight: 700;
          color: #000000;
          padding-top: 40px;
          padding-bottom: 15px;
        }

        h2 {
          font-size: 3rem;
          line-height: 4rem;
        }

        h3 {
          font-size: 2.6rem;
          line-height: 3.6rem;
        }

        h4 {
          font-size: 2.2rem;
          line-height: 3.2rem;
        }

        h5 {
          font-size: 1.8rem;
          line-height: 2.8rem;
        }

        h6 {
          font-size: 1.6rem;
          line-height: 2.8rem;
        }

        ul {
          margin: 10px 0 0 0;

          li {
            display: flex;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: #000000;

            a {
              font-weight: 700;
              color: $secondary;
            }

            &:before {
              position: relative;
              top: 7px;
              content: "";
              width: 6px;
              height: 6px;
              background-color: #006B54;
              margin-right: 10px;
              border-radius: 50%;
              flex-shrink: 0;
            }
          }

          li + li {
            margin-top: 8px;
          }
        }

        ol {
          list-style-type: decimal;
          margin: 10px 0 0 0;
          margin-left: 15px;

          li {
            display: list-item;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: #000000;

            &::marker {
              font-weight: 700;
              font-size: 1.6rem;
              line-height: 2.4rem;
              color: #006B54;
            }

            a {
              font-weight: 700;
              color: $secondary;
            }
          }

          li + li {
            margin-top: 8px;
          }
        }

        a {
          font-weight: 700;
          color: $secondary;
        }

        span {
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 2.8rem;
        }

        p {

          + p {
            margin-top: 20px;
          }
        }
      }
    }

    .fancyBlock {
      display: flex;
      padding-top: 40px;

      a {
        width: calc(100% / 3 - 11px);
        position: relative;
        margin-left: 11px;
        transition: .3s;

        img {
          width: 100%;
        }

        &:first-child {
          margin-left: 0;
        }

        .box_eye {
          display: none;
          align-items: center;
          justify-content: center;
          position: absolute;
          transition: .3s;
          z-index: 5;
          top: calc(50% - 40px);
          left: calc(50% - 40px);

          .hover {
            cursor: pointer;
            width: 60px;
            height: 60px;
            background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
            box-shadow: 0 4px 60px rgb(0 0 0 / 14%);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
          }

          svg {
            fill: #F0F7F3;
            width: 27px;
            height: 27px;
          }
        }

        &:hover {
          .box_eye {
            display: flex;
          }
        }
      }

      @include medium-tablet {
        flex-direction: column;
        a {
          width: 100%;
          margin-left: 0;

          .box_eye {
            display: flex;
          }
        }
      }
    }

    .fancyBlockVideo {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 319px 672px;
      padding-top: 40px;
      gap: 20px 20px;
      padding-bottom: 70px;

      .image {
        display: grid;
        position: relative;
        margin-left: auto;
        transition: .3s;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          max-height: 320px
        }

        &:last-child {
          grid-row: 2;
          grid-column: 1/3;
        }

        .box_eye {
          display: none;
          align-items: center;
          justify-content: center;
          position: absolute;
          transition: .3s;
          z-index: 5;
          top: calc(50%);
          left: calc(50%);
          transform: translate(-50%, -50%);

          .hover {
            cursor: pointer;
            width: 60px;
            height: 60px;
            background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
            box-shadow: 0 4px 60px rgb(0 0 0 / 14%);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
          }

          svg {
            fill: #F0F7F3;
            width: 27px;
            height: 27px;
          }
        }

        &:hover {
          .box_eye {
            display: flex;
          }
        }

        @include medium-tablet {
          .box_eye {
            display: flex;
          }
        }
      }

      .video {
        display: grid;
        position: relative;
        margin-left: auto;
        transition: .3s;
        width: 100%;
        height: 100%;

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          max-height: 672px
        }

        &:last-child {
          grid-row: 2;
          grid-column: 1/3;
        }

        .box_eye {
          flex-direction: column;
          display: none;
          align-items: center;
          justify-content: center;
          position: absolute;
          transition: .3s;
          z-index: 5;
          top: calc(50% - 40px);
          left: calc(50% - 40px);

          .hover {
            cursor: pointer;
            width: 100px;
            height: 100px;
            background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
            box-shadow: 0 4px 60px rgb(0 0 0 / 14%);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
          }

          .descr {
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: #FFFFFF;
            margin-top: 15px;
          }

          svg {
            fill: #F0F7F3;
            width: 62px;
            height: 60px;
          }
        }

        &:hover {
          .box_eye {
            display: flex;
          }
        }

        @include medium-tablet {
          .box_eye {
            display: flex;
          }
        }
      }
    }

    .imageH5 {
      width: 100%;
      margin-top: 52px;
      border-radius: 8px;
      max-height: 320px;
      object-fit: cover;
    }

    @include small-tablet {
      .mainImage {
        //margin-bottom: 30px;
        width: calc(100% - 50px);
        margin: 0 auto 30px;

        .partnersTitle {
          font-size: 2rem;
          line-height: 2rem;
          left: 0;
          bottom: -30px;
          padding: 20px 30px;
        }
      }
      .mainBlock {
        padding-top: 30px;

        &_left {
          width: calc(100% - 50px);
          margin: 0 auto;

          a, p {
            font-size: 1.4rem;
            line-height: 2.4rem;
          }

          h2, h3, h4, h5, h6 {
            font-weight: 700;
            color: #000000;
            padding-top: 40px;
            padding-bottom: 15px;
          }

          h2 {
            font-size: 2.4rem;
            line-height: 3rem;
          }

          h3 {
            font-size: 2rem;
            line-height: 2.8rem;
          }

          h4 {
            font-size: 1.8rem;
            line-height: 2.6rem;
          }

          h5 {
            font-size: 1.6rem;
            line-height: 2.4rem;
          }

          h6 {
            font-size: 1.5rem;
            line-height: 2.4rem;
          }
        }
      }
      .fancyBlockVideo {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;

        .video {
          height: 180px;

          img {
            border-radius: 8px;
          }

          &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: transparent;
            border-radius: 8px;
            opacity: 1;
            transition-duration: 0.3s;
            background-image: linear-gradient(44.33deg, rgba(0, 0, 0, 0.8) 10.48%, rgba(0, 0, 0, 0) 76.33%, rgba(0, 0, 0, 0) 76.33%);
          }

          .box_eye {
            top: calc(50%);
            left: calc(50%);
            transform: translate(-50%, -50%);

            .descr {
              font-weight: 400;
              font-size: 1.4rem;
              line-height: 1.4rem;
            }

            .hover {
              width: 60px;
              height: 60px;

              svg {
                width: 37px;
                height: 36px;
              }
            }
          }
        }
      }
    }
    @include small-mobile {
      .mainImage {
        .partnersTitle {
          left: -53px;
          padding: 20px 30px 20px 54px;
        }
      }
      .imageH5 {
        max-height: 185px;
      }
    }
  }
}
