@import 'variables.scss';
@import 'mixins.scss';

.pharmacovigilanceContainer {
  padding-top: 10px;

  .container {
    max-width: 1800px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;

    .mainImage {
      display: flex;
      flex-direction: column;
      padding: 50px 50px 40px 50px;
      position: relative;
      background-repeat: no-repeat;
      width: 100%;
      height: 400px;
      margin-top: auto;
      margin-bottom: 60px;
      border-radius: 8px;
      background-position: center;
      background-size: cover;

      .pharmaTitle {
        position: absolute;
        background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
        border-radius: 4px;
        font-weight: 700;
        font-size: 55px;
        line-height: 55px;
        color: #FFFFFF;
        width: fit-content;
        padding: 30px 64px;
        left: 153px;
        bottom: -58px;
      }
    }

    .mainBlock {
      max-width: 1200px;
      margin: 0 auto;
      padding-top: 30px;
      padding-bottom: 85px;


      &_textBlock {
        padding-bottom: 60px;

        a, p {
          font-size: 1.6rem;
          line-height: 3rem;
        }

        h2, h3, h4, h5, h6 {
          font-weight: 700;
          color: #000000;
          padding-top: 40px;
          padding-bottom: 15px;
        }

        h2 {
          font-size: 30px;
          line-height: 40px;
        }

        h3 {
          font-size: 26px;
          line-height: 36px;
        }

        h4 {
          font-size: 22px;
          line-height: 32px;
        }

        h5 {
          font-size: 18px;
          line-height: 28px;
        }

        h6 {
          font-size: 16px;
          line-height: 28px;
        }

        ul {
          margin: 10px 0 0 0;

          li {
            display: flex;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: #000000;

            a {
              font-weight: 700;
              color: $secondary;
            }

            &:before {
              position: relative;
              top: 7px;
              content: "";
              width: 6px;
              height: 6px;
              background-color: #006B54;
              margin-right: 10px;
              border-radius: 50%;
              flex-shrink: 0;
            }
          }

          li + li {
            margin-top: 8px;
          }
        }

        ol {
          list-style-type: decimal;
          margin: 10px 0 0 0;
          margin-left: 15px;

          li {
            display: list-item;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: #000000;

            &::marker {
              font-weight: 700;
              font-size: 16px;
              line-height: 24px;
              color: #006B54;
            }

            a {
              font-weight: 700;
              color: $secondary;
            }

            //&:before {
            //  position: relative;
            //  top: 7px;
            //  content: "";
            //  width: 6px;
            //  height: 6px;
            //  background-color: #006B54;
            //  margin-right: 10px;
            //  border-radius: 50%;
            //  flex-shrink: 0;
            //}
          }

          li + li {
            margin-top: 8px;
          }
        }

        a {
          font-weight: 700;
          color: $secondary;
        }

        span {
          font-weight: 700;
          font-size: 18px;
          line-height: 28px;
        }

        p {

          + p {
            margin-top: 20px;
          }
        }
      }

      &_contactBlock {
        display: flex;
        align-items: center;

        //box-shadow: 0px 4px 34px rgba(0, 107, 84, 0.3);
        .line {
          margin-right: 90px;
          width: 9.4px;
          height: 380px;
          background: linear-gradient(180deg, #006B54 0%, #18AD89 100%);;

          box-shadow: 0px 4px 34px rgba(0, 107, 84, 0.3);
          border-radius: 34px;
        }

        .text {
          .contactPharma {
            display: flex;
            flex-wrap: wrap;
            margin-left: -90px;

            .infoIcon {
              margin-right: 15px;

              svg {
                width: 34px;
                height: 34px;
                fill: #18AD89;
              }
            }

            .infoContainer {
              margin-top: 30px;
              width: fit-content;
              margin-left: 90px;

              &:last-child {
                width: 100%;
              }
            }

            .infoLabel {
              font-size: 13px;
            }

            .infoTitle,
            .infoTitlePhone {
              font-weight: 700;
              font-size: 2rem;
              line-height: 2.4rem;
            }

            .infoTitle {
              color: #000000;
            }

            .infoTitlePhone {
              font-size: 2.4rem;
              color: #006B54;
            }
          }

        }

        &-title {
          font-weight: 700;
          font-size: 30px;
          line-height: 40px;
          color: #006B54;
          max-width: 530px;
        }
      }
    }
  }

  .formBlock {
    padding: 90px 0 220px;
    background: #FBFBFB;

    &_inner {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto;

      .title {
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        color: #006B54;
        max-width: 530px;
      }

      .description {
        font-size: 15px;
        line-height: 24px;
        margin-top: 10px;
        color: #414A52;
        max-width: 530px;
      }

      .btnBlock {
        display: flex;
        max-width: 530px;
        padding: 40px 0 50px;

        .btnSize {
          font-weight: 500;
          font-size: 15px;
          line-height: 15px;
          padding: 18px 24px;
          background: white;

          + .btnSize {
            margin-left: 10px;
          }
        }

        .formBtnActive {
          background: #18AD89;
          box-shadow: 0px 4px 30px rgba(24, 173, 137, 0.2);
          border-radius: 6px;
          color: $sub-4;
          transition: .3s;

          &:hover {
            color: $sub-4;
            -webkit-text-fill-color: $sub-4;
            text-fill-color: $sub-4;
          }
        }
      }
    }
  }

  @include small-desktop-min {

  }
  @include tablet-vert {
    .line {
      display: none;
    }
    .container {
      width: calc(100% - 50px);
      margin: 0 auto 30px;

      .mainImage {
        margin-bottom: 30px;

        .pharmaTitle {
          font-size: 2rem;
          line-height: 2rem;
          left: 0;
          bottom: -30px;
          padding: 20px 30px;
        }
      }

      .mainBlock {
        padding-bottom: 70px;

        &_textBlock {
          padding-bottom: 40px;

          a, p {
            font-size: 1.4rem;
            line-height: 2.4rem;
          }

          p {

            + p {
              margin-top: 15px;
            }
          }
        }

        &_contactBlock {
          &-title {
            font-size: 2rem;
            line-height: 2.8rem;
          }

          .text {
            .contactPharma {
              .infoContainer {
                &:last-child {
                  .infoTitle {
                    font-size: 1.5rem;
                    line-height: 2.4rem;
                  }

                  .infoIcon {
                    svg {
                      width: 36px;
                      height: 36px;
                      transform: scale(.8);
                    }
                  }
                }
              }

              .infoIcon {
                svg {
                  width: 30px;
                  height: 30px;
                }
              }

              .infoLabel {
                font-size: 1.2rem;
              }

              .infoTitle {
                font-size: 1.3rem;
                line-height: 2rem;
              }

              .infoTitlePhone {
                font-size: 1.8rem;
                line-height: 2.4rem;
              }
            }
          }
        }
      }
    }
    .formBlock {
      padding: 40px 0 40px;

      &_inner {
        .title {
          font-size: 2.4rem;
          line-height: 3rem;
        }

        .description {
          font-size: 1.3rem;
          line-height: 2rem;
        }

        .btnBlock {
          padding: 30px 0 40px;
        }
      }
    }
  }
  @include small-mobile {
    .container {
      .mainImage {
        height: 300px;

        .pharmaTitle {
          left: -53px;
          padding: 20px 30px 20px 54px;
        }
      }
    }
    .formBlock {
      padding: 40px 0 60px;
    }
  }
}
