@import 'variables.scss';
@import 'mixins.scss';

.container {
  padding: 25px 25px 30px 25px;
  background: #FFFFFF;
  box-shadow: 0 4px 90px rgba(0, 0, 0, 0.04);
  border-radius: 8px;

  .notes {
    display: flex;
    position: absolute;

    .newBlock,
    .recipe,
    .children {
      font-size: 1.3rem;
      line-height: 1.3rem;
      border-radius: 6px;
      padding: 8px 14px;
      width: fit-content;
    }

    .children {
      background: #830B03;
      color: #FFFFFF;
    }

    .newBlock {
      background: #F5D424;
      color: #414A52;
    }

    .recipe {
      background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
      color: #FFFFFF;
    }

    &_el {
      &.notes_el {
        margin-left: 5px;
      }
    }
  }

  .imageBlock {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    img {
      width: fit-content;
    }
  }

  .title {
    margin-top: 37px;
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 2.6rem;
    color: #414A52;
    margin-bottom: 5px;
    transition: .3s;

    &:hover {
      color: $secondary;
    }
  }

  .description {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #414A52;
    padding-bottom: 70px;
  }

  .btnSize {
    margin: 0 auto;
    padding: 22.5px;
    width: 100%;
  }

  @include large-mobile {
    .notes {
      display: flex;
      position: absolute;
      flex-wrap: wrap;
      margin-top: -5px;

      &_el {
        margin-top: 5px;
      }
    }
  }
  @include small-mobile {
    padding: 10px 15px;
    .imageBlock {
      padding-top: 32px;
      width: 180px;
      height: 120px;

      img {
        width: auto;
      }
    }
    .title {
      margin-top: 15px;
    }
    .description {
      padding-bottom: 30px;
    }
  }
}
