@import 'variables.scss';
@import 'mixins.scss';

.searchBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  margin-left: 25px;

  input {
    width: calc(100% / 2);
    padding: 20px 25px;
    background: #F9F9F9;
    border-radius: 6px;
    color: #232323;
    border-color: transparent;

    &::placeholder {
      font-size: 1.5rem;
      line-height: 1.5rem;
      color: #414A52;
      opacity: 0.7;
    }

    //@include medium-desktop {
    //  width: 70%;
    //}
    //@include desktop {
    //  width: 90%;
    //}
    //@include tablet {
    //  width: 70%;
    //}
    //@include large-mobile {
    //  width: 100%;
    //}
    &:focus-visible {
      outline: $secondary auto 1px;
    }
  }

  .searchIcon {
    width: 22px;
    height: 22px;
    text-align: center;
    margin-left: 24px;
    position: absolute;
    z-index: 1;
    float: left;

    svg {
      fill: none;
      stroke: #414A52;

      g {
        opacity: .7;
      }

      circle {
        stroke: #414A52;
        stroke-width: 1.5;
        opacity: .7;
      }

      path {
        stroke: #414A52;
        stroke-width: 1.5;
        opacity: .7;
      }
    }
  }

  .searchIcon + input {
    padding-left: 56px;
  }

}
