.searchResultContainer {
  display: flex;
  width: 1000px;
  flex-direction: column;

  .resultBlock {
    display: flex;
    border-radius: 0;
    padding: 15px 40px;
    box-shadow: none;
    &:last-child {
      padding-bottom: 39px;
    }
  }

  .resultSecondBlock {
    img {
      width: 120px;
      height: 100px;
    }
  }

}
