@import 'variables.scss';
@import 'mixins.scss';

.showMoreContainer {
  margin-top: 40px;

  .title {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3rem;
    color: $secondary;
  }

  .description {
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #414A52;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /* Число отображаемых строк */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .showMore {
    -webkit-line-clamp: initial !important;
  }

  .button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: $secondary;

    svg {
      margin-left: 5px;
      fill: #414A52;
      transition: .3s;
    }

  }
}

