@import 'variables.scss';
@import 'mixins.scss';

.singleProductionAboutBlock {
  filter: drop-shadow(0px 4px 74px rgba(0, 107, 84, 0.16));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
  border-radius: 4px;
  padding: 50px 10px;

  img {
    width: 60px;
  }

  .title {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    color: #F0F7F3;
    margin-top: 25px;
    flex-shrink: 0;
    display: flex;
    white-space: nowrap;
  }

  .description {
    margin-top: 5px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    color: #FFFFFF;
  }

  @include large-mobile {
    padding: 30px 10px;
    img {
      width: 40px;
    }
    .title {
      margin-top: 10px;
      font-size: 2rem;
      line-height: 3rem;
    }
    .description {
      font-size: 1.2rem;
      line-height: 1.8rem;
      margin-top: 0;
    }
  }
}
