@import 'variables.scss';
@import 'mixins.scss';

.surveyAnketaBlockContainer {
  display: flex;
  background: #FFFFFF;
  box-shadow: 0px 4px 160px rgba(0, 0, 0, 0.18);
  border-radius: 60px 6px;
  padding: 44px 80px;
  position: absolute;
  bottom: -120px;
  align-items: center;
  width: 100%;
  max-width: 1345px;
  left: 50%;
  transform: translate(-50%);

  .backImg {
    position: absolute;
    width: fit-content;
    left: 0;
    z-index: 2;
  }

  .iconBox {
    padding: 36px;
    border-radius: 50%;
    margin-right: 170px;
    background: #FFFFFF;
    box-shadow: 0px 4px 90px rgba(0, 0, 0, 0.16);
    z-index: 5;

    .icon {
      width: 70px;
      height: 70px;
    }

    @include small-desktop-min {
      margin-right: 70px;
    }
  }

  .textBlock {
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
    max-width: 507px;
    margin-right: 126px;

    .green {
      color: #006B54;
    }
  }

  .btnSize {
    padding: 22px 66px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.6rem;
    transition-duration: .3s;
    &:hover {
      background: linear-gradient(90deg, #006B54 0%, #006B54 100%);
    }
  }
  .quizLabel {
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
    .green {
      color: #006B54;
    }
  }
  @include tablet-vert {
    flex-direction: column;
    border-radius: 50px 6px;
    padding: 78px 24px 40px;
    bottom: -90%;

    .backImg {
      display: none;
    }
    .iconBox,
    .textBlock {
      margin-right: 0;
    }
    .iconBox {
      padding: 26px;
      position: absolute;
      top: -70px;
    }
    .textBlock {
      font-size: 2.1rem;
      line-height: 2.6rem;
      max-width: none;
      margin-bottom: 40px;
    }
  }
  @include large-mobile {
    bottom: -175px;
    .iconBox {
      .icon {
        width: 50px;
        height: 50px;
      }
    }
    .btnSize {
      padding: 22px;
      width: 100%;
    }
    .textBlock {
      text-align: center;
    }
  }
}

.surveyAnketa {
  position: relative;
  padding-top: 159px;
  padding-bottom: 235px;

  .container {
    max-width: 1800px;
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
  }

  .backImage_2 {
    position: absolute;
    -o-object-fit: fill;
    object-fit: cover;
    background-repeat: no-repeat;
    top: 20px;
    right: 0;

    .bottomV4Mobile {
      display: none;
    }
  }

  .container {
    position: relative;
    justify-content: center;

    .bottomV4Mobile {
      display: none;
    }
  }

  img {
    width: 100%;
    border-radius: 90px 8px;
  }

  @include large-mobile {
    padding-top: 70px;
    padding-bottom: 265px;
    margin-left: 25px;
    margin-right: 25px;
    .backImage_2 {
      right: auto;

      .bottomV4Mobile {
        display: flex;
        position: relative;
        left: -60px;
      }

      .bottomV4 {
        display: none;
      }
    }
    .container {
      .bottomV4Mobile {
        display: flex;
        position: relative;
      }

      .bottomV4 {
        display: none;
      }
    }
    img {
      height: 360px;
    }
  }
  //@include small-mobile-min {
  //  padding-top: 300px
  //}
}
