//Фирменный градиент
$gradient: linear-gradient(90deg, #006B54 0%, #18AD89 100%);

//Основные цвета из логотипа
$primary: #414A52;
$secondary: #006B54;

//Дополнительная палитра
$sub-1: #38464B;
$sub-2: #0D9970;
$sub-3: #18AD89;
$sub-4: #F0F7F3;

//Ошибка
$error: #FF0000;
