@import 'variables.scss';
@import 'mixins.scss';


.videoContainer {
  display: flex;
  flex-direction: column;

  .headerBox {
    padding-top: 20px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;

    .iconHeader {
      margin-right: 30px;
      width: 90px;
      height: 90px;
      align-items: center;
      display: flex;
      justify-content: center;
      background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
      border-radius: 50%;
      flex-shrink: 0;

      svg {
        fill: #F0F7F3;
      }
    }

    .styleHeading {
      background: linear-gradient(90deg, #414a52 0%, #414a52 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }

  .container {
    max-width: 1800px;
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    padding-bottom: 80px;

    .fancyBlockVideo {
      display: flex;
      flex-wrap: wrap;
      padding-top: 40px;
      padding-bottom: 70px;
      margin-top: -40px;
      margin-left: -20px;

      .image {
        display: flex;
        margin-left: auto;
        transition: .3s;
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          max-height: 320px
        }

        &:last-child {
          grid-row: 2;
          grid-column: 1/3;
        }

        .box_eye {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          transition: .3s;
          z-index: 5;
          //top: calc(50% - 40px);
          //left: calc(50% - 40px);

          .hover {
            cursor: pointer;
            width: 60px;
            height: 60px;
            background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
            box-shadow: 0 4px 60px rgb(0 0 0 / 14%);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
          }

          svg {
            fill: #F0F7F3;
            width: 27px;
            height: 27px;
          }
        }

        &:hover {
          .box_eye {
            display: flex;
          }
        }
      }

      .video {
        margin-top: 40px;
        position: relative;
        margin-left: 20px;
        transition: .3s;
        width: calc(100% / 3 - 20px);
        min-width: 325px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .imgBlockPosition {
          position: relative;
          overflow: hidden;
          border-radius: 8px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 5;

          .gradient {
            display: inline-block;
            position: relative;
            line-height: 0;
            z-index: 4;
            transition-duration: .3s;

            &::after {
              content: "";
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              border-radius: 8px;
              top: 0;
              left: 0;
              background: transparent;
              opacity: 1;
              transition-duration: .3s;
              background-image: linear-gradient(44.33deg, rgba(0, 0, 0, 0.8) 10.48%, rgba(0, 0, 0, 0) 76.33%, rgba(0, 0, 0, 0) 76.33%);
            }
          }

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            transition-duration: 0.5s;
          }

        }

        .descriptionImage {
          width: calc(100% - 20px);
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 2.8rem;
          color: #414A52;
          margin: 15px auto 0;
        }

        img {
          width: 100%;
          height: 100%;
          max-height: 672px
        }

        &:last-child {
          grid-row: 2;
          grid-column: 1/3;
        }

        .box_eye {
          flex-direction: column;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          transition: .3s;
          z-index: 5;
          //top: calc(50% - 40px);
          //left: calc(50% - 40px);

          .hover {
            cursor: pointer;
            width: 100px;
            height: 100px;
            background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
            box-shadow: 0 4px 60px rgb(0 0 0 / 14%);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;
          }

          .descr {
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: #FFFFFF;
            margin-top: 15px;
          }

          svg {
            fill: #F0F7F3;
            width: 62px;
            height: 60px;
          }
        }

        &:hover {
          .imgBlockPosition {
            .gradient {
              &::after {
                opacity: 0;
              }
            }
          }
        }
      }
    }

    .paginationBlockMobile {
      display: none;
    }

    .paginationBlock {
      display: flex;
      justify-content: center;
      margin-top: 60px;

      .pagination {
        display: flex;

        .active {
          .page_link {
            color: #FFFFFF;
            background: linear-gradient(90deg, #18AD89 0%, #18AD89 100%);
            transition: .3s;

            &:hover {
              background: linear-gradient(90deg, #18AD89 0%, #18AD89 100%);
            }
          }
        }

        .page_link {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 54px;
          height: 54px;
          padding: 17px;
          border-radius: 50%;
          font-weight: 700;
          font-size: 2rem;
          line-height: 2rem;
          text-align: center;
          color: #BFBFBF;
          background: linear-gradient(90deg, #f9f9f9 0%, #f9f9f9 100%);
          margin-left: 10px;
          cursor: pointer;
          transition: .3s;

          &:hover {
            color: #FFFFFF;
            background: linear-gradient(90deg, #006B54 0%, #18AD89 100%);
          }
        }

        .breakDots {
          cursor: pointer;
          padding-left: 10px;
          padding-right: 10px;
          color: $sub-3;
          font-size: 4.6rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    @include medium-mobile {
      .paginationBlock {
        display: none;
      }
      .paginationBlockMobile {
        display: flex;
      }
    }
  }

  @include medium-desktop {
    .container {
      width: calc(100% - 50px);
      margin: 0 auto;
    }
  }
  @include small-desktop-min {
    .container {
      .fancyBlockVideo {
        .video {
          .box_eye {
            .hover {
              width: 60px;
              height: 60px;

              svg {
                width: 37px;
                height: 37px;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1070px) {
    .container {
      .fancyBlockVideo {
        .video {
          width: calc(100% / 2 - 20px);
        }
      }
    }
  }
  @include tablet-vert {
    .container {
      .fancyBlockVideo {
        .video {
          .box_eye {
            .descr {
              font-size: 1.4rem;
              line-height: 1.4rem;
            }
          }
        }
      }
    }
  }
  @include large-mobile {
    .headerBox {
      .styleHeading {
        font-size: 2.8rem;
        line-height: 3rem;
      }

      .iconHeader {
        width: 60px;
        height: 60px;
        margin-right: 15px;

        svg {
          width: 28px;
          height: 28px;
        }
      }
    }
    .container {
      padding-bottom: 30px;

      .fancyBlockVideo {
        margin-left: 0;
        padding-top: 38px;
        padding-bottom: 0;

        .video {
          width: calc(100%);
          margin-left: 0;
          margin-top: 30px;

          .descriptionImage {
            font-size: 1.4rem;
            line-height: 2.4rem;
            margin: 10px 0 0 0;
          }
        }
      }

      .paginationBlock {
        margin-top: 50px;
      }
    }
  }
}
